{% extends "account_page.html" %}
{% load i18n %}


{% block title %}
  {% trans 'Company creation' %}
{% endblock title %}


{% block page-content %}


  <h2>{% trans 'Create my company' %}</h2>

    <form action="." method="POST" class="large-centered large-6 columns">
      {% csrf_token %}

      {% if form.non_field_errors %}
        <small class="error">
          {% for error in form.non_field_errors %}
            {{ error }}
          {% endfor %}
        </small>
      {% endif %}

      <div class="row">
        <div class="{% if form.name.errors %} error {% endif %}">

          <label for="id_name">{% trans 'Company name' %}</label>
          {{ form.name }}

          {% if form.name.errors %}
            <small class="error">
              {% for error in form.name.errors %}
                {{ error }}
              {% endfor %}
            </small>
          {% endif %}
        </div>
      </div>

      <div class="row">
        <div class="{% if form.subdomain.errors %} error {% endif %}">

          <label for="id_subdomain">{% trans 'URL of your career site' %}</label>
          <div class="row">
            <div class="large-6 columns">
              {{ form.subdomain }}
            </div>
            <div class="large-6 columns">
              <span class="subdomain">.hizard.com</span>
            </div>
          </div>

          {% if form.subdomain.errors %}
            <small class="error">
              {% for error in form.subdomain.errors %}
                {{ error }}
              {% endfor %}
            </small>
          {% endif %}
        </div>
      </div>

      <div class="row">
        <div class="{% if form.website.errors %} error {% endif %}">

          <label for="id_website">{% trans 'Company website' %}</label>
          {{ form.website }}

          {% if form.website.errors %}
            <small class="error">
              {% for error in form.website.errors %}
                {{ error }}
              {% endfor %}
            </small>
          {% endif %}
        </div>
      </div>

      <div class="row">
        <div class="{% if form.description.errors %} error {% endif %}">

          <label for="id_description">{% trans 'Description of the company' %}</label>
          {{ form.description }}

          {% if form.description.errors %}
            <small class="error">
              {% for error in form.description.errors %}
                {{ error }}
              {% endfor %}
            </small>
          {% endif %}
        </div>
      </div>



      <div class="row">
        <div class="large-12 columns text-right">
          <input type="submit" class="button-positive" value="{% trans 'Start using Hizard' %}" />
        </div>
      </div>
    </form>

{% endblock page-content %}
