{% extends "base_accounts.html" %}
{% load i18n %}


{% block content %}

  <div class="row">
    <form action="." method="POST" class="login-form large-4 columns">
      {% csrf_token %}

      {% if form.non_field_errors %}
        <small class="error">
          {% for error in form.non_field_errors %}
            {{ error }}
          {% endfor %}
        </small>
      {% endif %}

      {% for field in form %}
        <div class="row">
          <div class="large-12 columns {% if field.errors %} error {% endif %}">

            {{ field.label_tag }}
            {{ field }}

            {% if field.errors %}
              <small class="rounded-error">
                {% for error in field.errors %}
                  {{ error }}
                {% endfor %}
              </small>
            {% endif %}
          </div>
        </div>
      {% endfor %}


      <div class="row">
        <div class="large-12 columns text-right">
          <input type="submit" class="button-positive" value="{% trans 'Start using Hizard' %}" />
        </div>
      </div>
    </form>

    <div class="large-6 columns">
      <p>
        {% trans 'The name of your company will be used on your jobs page.' %}
      </p>
      <br>
      <p>
        {% blocktrans %}
          Your jobs page will be accessible at yourcompany.hizard.com, yourcompany being
          the subdomain entered in the input on the left.
        {% endblocktrans %}
      </p>
    </div>
  </div>

{% endblock content %}
