{% extends "base_openings.html" %}

{% load i18n %}


{% block title %}
    Confirmation - {{ opening.title }} - {{ opening.company.name }}
{% endblock title %}


{% block header %}
    {{ opening.company.name }}
{% endblock header %}


{% block apply-header %}
    <div class="apply-header">
        <h3>{{ opening.title }}</h3>
        <a href="{% url 'public_jobs:list_openings' %}">{% trans 'Back to the job listing' %}</a>
    </div>
{% endblock apply-header %}


{% block section %}
  Your application to {{ opening.title }} has been received.
{% endblock section %}
