{% extends "base.html" %}
{% load i18n %}

{% block content %}
   {{ form.errors }}
  <form action="{% block action %}{% endblock %}" method="POST" id="action-form">
    {% csrf_token %}

    <div class="row">
      {% for field in form %}
        <div class="two columns">
          <label class="right inline">{{ field.label }}</label>
        </div>
        <div class="ten columns">
          {{ field }}
        </div>
      {% endfor %}
    </div>


    <div class="form-actions">
      {% block form-actions %}
        <input type="submit" value="{% trans 'Save' %}" class="button" />
      {% endblock %}
    </div>
  </form>

{% endblock content %}
