{% extends "base.html" %}
{% load i18n %}

{% block content %}
   {{ form.errors }}
  <form action="{% block action %}{% endblock %}" method="POST" id="action-form">
    {% csrf_token %}

    {% for field in form %}
      <div class="row">
        <div class="two columns">
          <label class="right inline">{{ field.label }}</label>
        </div>

        <div class="four columns end">
          {{ field }}
        </div>
      </div>
    {% endfor %}

    <div class="row">
      <div class="form-actions six columns end">
        <div class="right">
          {% block form-actions %}
            <input type="submit" value="{% trans 'Save' %}" class="button" />
          {% endblock %}
        </div>
      </div>
    </div>

  </form>

{% endblock content %}

