<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}
{% load core_extra %}

<html>
<head>
  <meta charset="utf-8">
  <link rel="icon" href="{% static "img/favicon.ico" %}" type="image/x-icon"/>
  <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon"/>
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

  <title>
    {% block title %}
    {% endblock title %}

    | Hizard
  </title>

  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1">

  {% block extrahead %}
  {% endblock %}

  <link rel="stylesheet" href="{% static "css/normalize.css" %}" />
  <link rel="stylesheet" href="{% static "css/app.css" %}" />
</head>
<body>

  <nav class="left-menu">
    <h3><img src="{% static "img/logo.png" %}"></h3>
    <a class="{% active request 'accounts:change_details' %}" href="{% url 'accounts:change_details' %}">
      <i class="icon-user icon-2x"></i>{{ user.name }}
    </a>
    <a class="{% active request 'dashboard:dashboard' %}" href="{% url 'dashboard:dashboard' %}">
      <i class="icon-home icon-2x"></i>{% trans 'Dashboard' %}
    </a>
    <a class="{% active request 'openings:list_openings' %}" href="{% url 'openings:list_openings' %}">
      <i class="icon-folder-close icon-2x"></i>{% trans 'Openings' %}
    </a>
    <a class="{% active request 'applications:list_applications' %}" href="{% url 'applications:list_applications' %}">
      <i class="icon-group icon-2x"></i>{% trans 'Applicants' %}
    </a>
    <a href="{{ opening_list_url }}" target="_blank">
      <i class="icon-share-alt icon-2x"></i>{% trans 'Career site' %}
    </a>
    <a class="{% active request 'companysettings:main' %}" href="{% url 'companysettings:main' %}">
      <i class="icon-cogs icon-2x"></i>{% trans 'Settings' %}
    </a>
  </nav>

  <nav class="top-menu">
    <i class="icon-reorder icon-2x open-left-menu"></i>
    <span class="username">{{ user.name }}</span>
  </nav>

  <div class="container">
    {% include 'core/_messages.html' with messages=messages %}
    {% block content %}
    {% endblock content %}
  </div>

  <script src="{% static "js/vendor/jquery.js" %}"></script>
  <script src="{% static "js/foundation/foundation.js" %}"></script>
  <script src="{% static "js/vendor/custom.modernizr.js" %}"></script>
  <script src="{% static "js/foundation/foundation.reveal.js" %}"></script>
  <script src="{% static "js/foundation/foundation.alerts.js" %}"></script>
  <script src="{% static "js/foundation/foundation.section.js" %}"></script>
  <script src="{% static "js/csrf.js" %}"></script>

  <script>
    $(document).foundation();

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-41253554-1', 'hizard.com');
    ga('send', 'pageview');

    $(document).ready(function() {
      $('.open-left-menu').click(function() {
        var $menu = $('.left-menu');
        $('body').toggleClass('push-to-right');
        $menu.toggleClass('open');

        if ($menu.hasClass('open')) {
          $('.top-menu').addClass('remove-logo-top-menu');
          $('.container').addClass('restrict-width-container ');
        } else {
          $('.top-menu').removeClass('remove-logo-top-menu');
          $('.container').removeClass('restrict-width-container ');
        }
      });
    });

  </script>

  {% block extra-js %}
  {% endblock extra-js %}

</body>
</html>
