<!DOCTYPE html>

{% load i18n %}
{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Hizard{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Hiring made easy">
    <meta name="author" content="Hizard">

    <link rel="stylesheet" href="{% static "css/normalize.css" %}" />
    <link rel="stylesheet" href="{% static "css/app.css" %}" />

    {% block extra-head %}
    {% endblock extra-head %}

    <script src="{% static "js/vendor/custom.modernizr.js" %}"></script>
    {% block extrahead %}{% endblock %}
  </head>

  <body>
    <nav class="top-bar">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Hizard</a></h1>
        </li>

        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>{% trans 'Menu' %}</span></a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="left">
          <li><a href="{% url 'dashboard:dashboard' %}">{% trans 'Dashboard' %}</a></li>
          <li><a href="{% url 'openings:list_openings' %}">{% trans 'Openings' %}</a></li>
          <li><a href="{% url 'applications:board_applications' %}">{% trans 'Applicants' %}</a></li>
          <li><a href="{% url 'companysettings:settings_home' %}">{% trans 'Settings' %}</a></li>
          <li><a href="{{ opening_list_url }}" target="_blank">{% trans 'Jobs page' %}</a></li>

          <li class="user-badge">
            <a href="{% url 'accounts:change_details' %}">
              <img src="{% if user.avatar %}{{ user.avatar.url }}{% else %}{% static 'img/default_avatar.jpg' %}{% endif %}"/>

              <span>
                {% if user.first_name or user.last_name %}
                  {{ user.first_name }} {{ user.last_name }}
                {% else %}
                  {{ user.email }}
                {% endif %}
              </span>
            </a>

          </li>

          <li class="divider"></li>

          <li><a href="{% url 'auth:logout' %}">{% trans 'Logout' %}</a></li>

        </ul>
      </section>
    </nav>

    <section id="main">
      <div class="container">
        {% if messages %}
            {% for message in messages %}
              <div data-alert class="alert-{{ message.tags }}">
                {{ message }}
                <a href="#" class="close">&times;</a>
              </div>
            {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock content %}
      </div>
    </section>

    <script src="{% static "js/vendor/jquery.js" %}"></script>
    <script src="{% static "js/foundation/foundation.js" %}"></script>
    <script src="{% static "js/foundation/foundation.topbar.js" %}"></script>
    <script src="{% static "js/foundation/foundation.section.js" %}"></script>
    <script src="{% static "js/foundation/foundation.tooltips.js" %}"></script>
    <script src="{% static "js/foundation/foundation.reveal.js" %}"></script>
    <script src="{% static "js/foundation/foundation.alerts.js" %}"></script>
    <script src="{% static "js/foundation/foundation.dropdown.js" %}"></script>
    <script src="{% static "js/foundation/foundation.joyride.js" %}"></script>
    <script>
      $(document).foundation();
    </script>

    {% block extra-js %}
    {% endblock extra-js %}
  </body>
</html>
