<!DOCTYPE html>

{% load i18n %}
{% load staticfiles %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="{% static "css/normalize.css" %}" />
  <link rel="stylesheet" href="{% static "css/jobs.css" %}" />
</head>

<body>

  <header class="row">
    <h1 class="large-9 columns">{% block header %}{% endblock header %}</h1>
    {% if company.website %}
        <a href="{{ company.website }}" class="large-3 columns">{% trans 'Back to our website' %}</a>
    {% endif %}
  </header>

  <div class="row">
    {% block apply-header %}
    {% endblock apply-header %}
  </div>

  <div class="row content">
    <section class="large-6 columns">
      {% block section %}
      {% endblock section %}
    </section>

    <aside class="large-6 columns">
      {% block aside %}
      {% endblock aside %}
    </aside>

  </div>


</body>

</html>
