<!DOCTYPE html>

{% load i18n %}
{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Hizard{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Hiring made easy">
    <meta name="author" content="Hizard">

    <link rel="stylesheet" href="{% static "css/normalize.css" %}" />
    <link rel="stylesheet" href="{% static "css/app.css" %}" />

    {% block extra-head %}
    {% endblock extra-head %}

    <script src="{% static "js/vendor/custom.modernizr.js" %}"></script>
    {% block extrahead %}{% endblock %}
  </head>

  <body>

    <div class="sticky">
      <nav class="top-bar">
        <ul class="title-area">
          <li class="name">
            <h1><a href="#">Hizard</a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>{% trans 'Menu' %}</span></a></li>
        </ul>

        <section class="top-bar-section">
          <ul class="left">
            {% if user.is_authenticated and user.company %}
              <li><a href={% url 'public:home' %}>{% trans 'Home' %}</a></li>
              <li class="divider"></li>
              <li><a href={% url 'openings:list_openings' %}>{% trans 'Openings' %}</a></li>
              <li class="divider"></li>
              <li><a href={% url 'applications:board_applications' %}>{% trans 'Applicants' %}</a></li>
              <li class="divider"></li>
              <li><a href={% url 'companysettings:settings_home' %}>{% trans 'Company settings' %}</a></li>
            {% endif %}
          </ul>

          <ul class="right">
            {% if user.is_authenticated %}
              <li><a href='#'>  {% trans 'User settings' %}</a></li>
              <li><a href={% url 'auth:logout' %}>  {% trans 'Logout' %}</a></li>
            {% else %}
              <li><a href={% url 'accounts:register' %}>{% trans 'Register' %}</a></li>
              <li class="divider"></li>
              <li><a href={% url 'auth:login' %}>{% trans 'Login' %}</a></li>
            {% endif %}
          </ul>
        </section>
      </nav>
    </div>

    <div class="container {% if not full_width %}row{% endif %}">
      {% if messages %}
        <div class="alert-box sucess">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        </div>
      {% endif %}

      {% block content %}
      {% endblock content %}
    </div>

    <script src="{% static "js/vendor/jquery.js" %}"></script>
    <script src="{% static "js/foundation/foundation.js" %}"></script>
    <script src="{% static "js/foundation/foundation.topbar.js" %}"></script>
    <script src="{% static "js/foundation/foundation.section.js" %}"></script>
    <script src="{% static "js/foundation/foundation.reveal.js" %}"></script>
    <script>
      $(document).foundation();
    </script>

    {% block extra-js %}
    {% endblock extra-js %}
  </body>
</html>
