<!DOCTYPE html>

{% load i18n %}


<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}hyrodactil{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{{ STATIC_URL }}css/app.css" rel="stylesheet">
  </head>

  <body>

    <header>
      <h1 class="one column">Hyrodactil</h1>

      {% if user.is_authenticated %}
        <nav class="six columns push-two main">
          <ul class="list-inline">
            <li><a href={% url 'public:home' %}><i class="icon-home icon-large"></i>{% trans 'Home' %}</a></li>
            <li><a href={% url 'jobs:list_openings' %}><i class="icon-tasks icon-large"></i>{% trans 'Openings' %}</a></li>
            <li><a href="{% url 'applications:list_all_applications' %}"><i class="icon-group icon-large"></i>Applicants</a></li>
            <li><a href="#"><i class="icon-calendar icon-large"></i>Calendar</a></li>
            <li><a href={% url 'companysettings:settings_home' %}><i class="icon-cog icon-large"></i>{% trans 'Settings' %}</a></li>
          </ul>
        </nav>

        <nav class="three columns secondary">
          <ul class="list-inline">
            <li><a href="#"><i class="icon-pushpin icon-large"></i>Notifications</a></li>
            <li><a href={% url 'auth:logout' %}><i class="icon-off icon-large"></i>{% trans 'Logout' %}</a></li>
          </ul>
        </nav>
      {% else %}
        <nav class="three columns secondary">
          <ul class="list-inline">
            <li><a href={% url 'accounts:register' %}><i class="icon-pushpin icon-large"></i>{% trans 'Register' %}</a></li>
            <li><a href={% url 'auth:login' %}><i class="icon-off icon-large"></i>{% trans 'Login' %}</a></li>
          </ul>
        </nav>
      {% endif %}

    </header>


    <div class="container row">

      {% if messages %}
        <div class="alert-box sucess">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        </div>
      {% endif %}


      {% block content %}
      {% endblock content %}
    </div>


  </body>
</html>
