{% extends "base_app.html" %}
{% load django_tables2 %}

{% load i18n %}

{% block content %}
  <h2 class="page-header">{% trans "Dashboard" %}</h2>

  <h3>{% trans 'Latest candidates' %}</h3>
  <table>
    <thead>
      <tr>
        <th>{% trans 'Name' %}</th>
        <th>{% trans 'Applied for' %}</th>
        <th>{% trans 'Applied the' %}</th>
      </tr>
    </thead>
    <tbody>

    {% for application in last_applications %}
      <tr>
        <td>{{ application.applicant.get_full_name }}</td>
        <td>{{ application.opening.title }}</td>
        <td>{{ application.created|date:"Y/m/d H:i" }}</td>
      </tr>
    {% endfor %}

    </tbody>
  </table>

  <hr>

  <div class="row">
    {% render_table opening_table %}

    <table class="large-6 columns">
      <thead>
      <tr>
        <th>Position</th>
        <th>Applications</th>
      </tr>
      </thead>

      <tbody>
      {% for opening in opening_list %}
        <tr>
          <td><a href="{% url 'openings:detail_opening' opening.pk %}">{{ opening.title }}</a></td>
          <td>
            {% for stage, count in opening.applicants_stats %}
              <a href="{% url "applications:list_applications" opening.id %}" data-tooltip class="has-tip" title="{{ stage }}">
                {{ count }}
              </a>
              {% if not forloop.last %}/{% endif %}
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock content %}
