{% extends "base_app.html" %}
{% load django_tables2 %}

{% load i18n %}

{% block content %}
  <h2 class="page-header">{% trans "Dashboard" %}</h2>

  <h3>{% trans 'Latest candidates' %}</h3>
  <table>
    <thead>
      <tr>
        <th>{% trans 'Name' %}</th>
        <th>{% trans 'Applied for' %}</th>
        <th>{% trans 'Applied the' %}</th>
      </tr>
    </thead>
    <tbody>

    {% for application in last_applications %}
      <tr>
        <td><a href="{% url "applications:application_detail" application.id %}">{{ application.applicant.get_full_name }}</a></td>
        <td><a href="{% url "openings:detail_opening" application.opening.id %}">{{ application.opening.title }}</a></td>
        <td>{{ application.created|date:"Y/m/d H:i" }}</td>
      </tr>
    {% endfor %}

    </tbody>
  </table>

  <hr>

  <h3>{% trans 'Openings' %}</h3>
  <table>
    <thead>
      <tr>
        <th>{% trans 'Title' %}</th>
        {% for interview_stage in interview_stages %}
          <th>{{ interview_stage.name }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>

    {% for opening in opening_list %}
      <tr>
        <td><a href="{% url "openings:detail_opening" opening.id %}">{{ opening.title }}</a></td>
        {% for stage_count in opening.stage_counts %}
          <td>{{ stage_count }}</td>
        {% endfor  %}
      </tr>
    {% endfor %}

    </tbody>
  </table>

{% endblock content %}
