{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block title %}
  {% trans 'Home' %}
{% endblock title %}

{% block content %}

  <h1>{% trans 'Home' %}</h1>

  <div class="dashboard-graph">
    <h2>{% trans 'Latest candidates' %}</h2>

    {% for application in last_applications %}
      <p>
        <a href="{% url "applications:application_detail" application.id %}">{{ application.applicant.get_full_name }}</a>
        {% trans 'applied for' %}
        <a href="{% url "openings:detail_opening" application.opening.id %}">{{ application.opening.title }}</a>
      - {{ application.created|date:"Y/m/d H:i" }}
      </p>
    {% endfor %}
    <br>
  </div>

  <div class="dashboard-graph">
    <h2>{% trans 'Openings' %}</h2>

    <table>
      <thead>
      <tr>
        <th>{% trans 'Title' %}</th>
        {% for interview_stage in interview_stages %}
          <th>{{ interview_stage.name }}</th>
        {% endfor %}
      </tr>
      </thead>
      <tbody>

      {% for opening in opening_list %}
        <tr>
          <td>
            <a href="{% url "openings:detail_opening" opening.id %}">{{ opening.title }}</a>
          </td>
          {% for stage_count in opening.stage_counts %}
            <td>{{ stage_count }}</td>
          {% endfor  %}
        </tr>
      {% endfor %}

      {% if not opening_list %}
        <tr>
          <td colspan="42">{% trans 'No published openings' %}</td>
        </tr>
      {% endif %}

      </tbody>
    </table>
  </div>
{% endblock content %}
