@import "../common/colours";

.settings-links {
  border-top: 1px solid $silver;
  border-bottom: 1px solid $silver;
  padding-top: 10px;
  padding-bottom: 10px;

  a {
    color: black;

    &:hover {
      color: $light-navigation-blue;
    }

    &.active-link {
      color: $light-navigation-blue;
    }
  }
}

.widget-snippet {
  padding-left: 10px;
  margin-top: 20px;
  font-size: .9em;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  background-color: $clouds;
  border: 1px solid $silver;
  @include border-radius(4px);
}