
@import '../common/colours';

.company-settings {
  ul {
    list-style: none;
  }

  li {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid $silver;

    &:first-of-type {
      border-top: 1px solid darken($silver, 20);
    }

    &:last-of-type {
      border-bottom: 1px solid darken($silver, 20);
    }

    h3 {
      float: left;
      font-size: emCalc(18px);
      margin: 0;
    }

    .setting-desc {
      color: grey;
    }

    .manage-link {
      text-align: right;
    }
  }
}

.stages {
  .stage {
    margin-bottom: emCalc(20px);
    padding-bottom: 5px;
    margin-top: 5px;
    border-bottom: 1px solid black;

    &:last-of-type {
      border-bottom: none;
    }

    .links {
      color: black;
    }
  }
}

table {

  .error-table {
    background: $clouds !important;
  }

  td.update-object {
    cursor: pointer;

    &:hover {
      background-color: $clouds;
    }

  }
}

.not-displayed {
  display: none;
}
