@import "mixins";
@import "../common/colours";

@import "compass/css3/border-radius";


// Common box used to contain informations in the site
.box {
  border: 1px solid $silver;
  padding: 0;

  .box-header {
    background: $navigation-blue;

    h2 {
      margin: 0;
      padding: .5em;
      font-size: 1.4em;
      text-align: center;
      color: white;
    }
  }

  .help-text {
    display: inline-block;
    margin-top: 10px;
  }

}

textarea {
  min-height: 2em;
  height: auto !important;
}

.container {
  padding: 2em;
  height: 100%;

  h1 {
    margin-bottom: emCalc(20);
    color: $navigation-blue;
  }

  &.restrict-width-container {
    @include calc(width, "100% - #{$menu-width}");
  }

  .styled-list {
    list-style: none;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;

    li {
      padding-top: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid $silver;

      &:after {
        content: "";
        display: table;
        clear: both;
      }

      &:last-child {
        border-bottom: none;
      }

      img {
        @include avatar();
      }
    }
  }

  label {
    margin-bottom: 1em;
  }

  table {
    width: 100%;

    .sort {
      cursor: pointer;
    }
  }


}

