
// if we are on a big screen, show the menu on the left vertically
@media #{$topbar-media-query} {
  .top-bar {
    float: left;
    width: emCalc(140px);
    height: 100%;
    position: fixed;
    border-right: 1px solid black;
    box-shadow: 0 0 5px black;

    ul {
      width: 100%;

      li {
        width: 100%;
      }
    }

  }
}