@import "../common/colours";


.included-questions {

  .select, .required {
    width: 25%;
  }

  th, td {
    text-align: center;
  }
}

.opening-list {
  width: 100%;

  th:not(:first-child), td:not(:first-child) {
    padding-left: 0;
  }

  .delete-link {
    padding-left: 20px;
  }

  .opening-title {
    font-size: emCalc(20px);
  }

  td {
    line-height: emCalc(30px);
  }
}

.submit-opening {
  border-top: 1px solid $silver;
  margin-top: 20px;

  input {
    margin-top: 20px;
  }
}