
@import "../common/colours";

$table-display: table-cell !default;
$table-line-height: emCalc(25px);


table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  border-color: $silver;

  thead {
    tr {
      th {
        font-size: 1.2em;
        font-weight: bold;
      }
    }
  }

  th,
  td {
    border-top: 1px solid $silver;
    padding: 8px;
    text-align: left;
    vertical-align: top;
    font-size: 1em;
  }

  caption + thead tr:first-child th,
  caption + thead tr:first-child td,
  colgroup + thead tr:first-child th,
  colgroup + thead tr:first-child td,
  thead:first-child tr:first-child th,
  thead:first-child tr:first-child td {
    border-top: 0;
  }

  thead tr th,
  tfoot tr th,
  tbody tr td,
  tr td,
  tfoot tr td {
    display: $table-display;
    line-height: $table-line-height;
  }
}