
// Colours from http://designmodo.github.io/Flat-UI/

// greens
$emerland: #2ECC71;
$nephritis: #27AE60;

// normal blues
$peter-river: #3498DB;
$belize-hole: #2980B9;

// dark blues
$wet-asphalt: #34495E;
$midnight-blue: #2C3E50;
$navigation-blue: #3473A9;
$light-navigation-blue: #4da5e0;

// yellow
$sunflower: #F1C40F;

// oranges
$orange: #F39C12;
$carrot: #E67E22;
$pumpkin: #D35400;

// reds
$alizaring: #E74C3C;
$pomegranate: #C0392B;

// 2 shades of greys
$clouds: #ECF0F1;
$silver: #BDC3C7;


// Colours for alert boxes
$alert-success-background: #DFF0D8;
$alert-success-text: #468847;

$alert-error-background: #b94a48;
$alert-error-text: #f2dede;


// ---------------------------------------------

// Other interesting colours

// green : 32B38C
// light blue : 488FD1
// medium blue : 3473A9
// dark blue : 262D40
// trello blue : 27709b