
@import "../common/colours";


html, body {
  overflow-x: hidden;
  background: #EDF3F3;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;

  p {
    font-size: 0.9em;
  }
}

.wrapper {
  padding-top: 20px;
  padding-bottom: 20px;

  .container {

    background: #fff;
    border: 1px solid $silver;
    padding: 20px;
    padding-bottom: 60px;

    h2 {
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      padding-bottom: 5px;
      border-bottom: 1px solid $silver;
      margin-bottom: 1em;

      small {
        text-transform: lowercase;
      }

      .actions a {
        font-size: .5em;
        margin-right: 10px;
        text-transform: none !important;
      }
    }

  }
}

.styled-list {
  list-style: none;

  li {
    height: 80px;
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;

    img {
      margin-right: 10px;
      height: 40px;
      width: 40px;
    }
  }
}

.clear {
  clear: both;
}