{% extends "base_app.html" %}

{% load i18n %}

{% block content %}
  <h2 class="page-header">{% trans "Openings" %}</h2>

  <a href="#" class="button-positive" data-url="{% url 'openings:create_opening' %}">
    {% trans "Create an opening." %}
  </a>

  {% if opening_list %}
    <div class="row">
      <table class="large-12 large-centered columns">
        <thead>
          <tr class="row">
            <th class="large-4 columns">{% trans "Title" %}</th>
            <th class="large-2 columns">{% trans "Created" %}</th>
            <th class="large-2 columns">{% trans "Edit" %}</th>
            <th class="large-2 columns">{% trans "Applicants" %}</th>
            <th class="large-2 columns">{% trans "Delete" %}</th>
          </tr>
        </thead>

        <tbody>
          {% for opening in opening_list %}
            <tr class="row">
              <td class="large-4 columns">
                <a href="{% url 'openings:detail_opening' opening.id %}">{{ opening.title }}</a>
              </td>

              <td class="large-2 columns">
                {{ opening.created|date:"d/m/Y" }}
              </td>

              <td class="large-2 columns">
                <a href="{% url 'openings:update_opening' opening.id %}" class="button-positive">{% trans "Edit" %}</a>
              </td>

              <td class="large-2 columns">
                <a href="{% url 'applications:list_applications' opening.id %}">
                  {% if opening.application_set.count %}
                    {{ opening.application_set.count }}
                  {% else %}
                    {% trans "No applications" %}
                  {% endif %}
                </a>
              </td>

              <td class="large-2 columns">
                <a href="{% url 'openings:delete_opening' opening.id %}" class="button-negative">{% trans "Delete" %}</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>
  {% endif %}

{% endblock content %}