{% extends "base_app.html" %}

{% load i18n %}

{% block content %}

<div>
  <div class="large-9 columns">
    <h3>{{ opening.title }}</h3>

    <p>
      {{ opening.city }}, {{ opening.country.name }}
    </p>

    <p>
      {{ opening.get_employment_type_display }}
    </p>

    <p>
      {% trans 'Do not display publicly' %} : {{ opening.is_private }}
    </p>

    <p>
      <h4>Description</h4>
      {{ opening.description|safe }}
    </p>
  </div>

  <div class="large-3 columns">
    <h4>{% trans 'Actions' %}</h4>


    <p>
      <a href="{% url 'openings:update_opening' opening.pk %}">{% trans 'Edit this opening' %}</a>
    </p>

    <p>
      <a href="{% url 'openings:delete_opening' opening.pk %}">{% trans 'Delete this opening' %}</a>
    </p>

    {% if not opening.closed_date %}
      <p>
        <a href="{% url 'openings:close_opening' opening.pk %}">{% trans 'Close this opening' %}</a>
      </p>
    {% endif %}

    {% if not opening.published_date %}
      <p>
        <a href="{% url 'openings:publish_opening' opening.pk %}">{% trans 'Publish this opening' %}</a>
      </p>
    {% else %}
      <p>
        <a href="{% url 'openings:publish_opening' opening.pk %}">{% trans 'Unpublish this opening' %}</a>
      </p>
    {% endif %}


    <h4>{% trans 'Important links' %}</h4>
      <p>
        {% trans 'Job link' %} : <a href=" {{ opening.get_apply_url }}" target="_blank">{{ opening.get_apply_url }}</a>
      </p>
  </div>
</div>


{% endblock %}
