{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}


{% block title %}
  {% if opening %}
    {% trans 'Edit' %} {{ opening.title }}
  {% else %}
    {% trans 'Add an opening' %}
  {% endif %}
{% endblock title %}


{% block content %}

  <h1>
    {% if opening %}
      {% blocktrans with title=opening.title %}
        Edit {{ title }} opening
      {% endblocktrans %}
    {% else %}
      {% trans 'Add an opening' %}
    {% endif %}
  </h1>

  <form action="." method="POST">
    {% csrf_token %}

    {% if form.non_field_errors %}
      <small class="error">
        {% for error in form.non_field_errors %}
          {{ error }}
        {% endfor %}
      </small>
    {% endif %}

    {% for field in form.hidden_fields %}
      {{ field }}
    {% endfor %}

    <div class="large-6 columns">
      {% include 'core/_field.html' with field=form.title %}
      {% include 'core/_field.html' with field=form.description %}
      {% include 'core/_field.html' with field=form.employment_type %}
    </div>

    <div class="large-6 columns">
      {% include 'core/_field.html' with field=form.department %}
      {% include 'core/_field.html' with field=form.is_private %}
      {% include 'core/_field.html' with field=form.country %}
      {% include 'core/_field.html' with field=form.city %}
      {% include 'core/_field.html' with field=form.loc_postcode %}

      <div class="questions large-12 columns">
        <h4>{% trans 'Questions' %}</h4>
        {% for question in form.questions %}
          <div class="question large-12 columns">
            <div class="large-1 columns remove-question"><i class="icon-trash icon-large"></i></div>
            <div class="large-11 columns"><input type="text"  name="question-{{ question.id }}" value="{{ question.title }}"/></div>
          </div>
        {% endfor %}
      </div>
      <a class="button add-question" href="#">{% trans 'Add a question' %}</a>
    </div>

    <div class="large-12 columns">
      {% if opening %}
        <input type="submit" class="button" value="{% trans 'Save changes' %}" />
      {% else %}
        <input type="submit" class="button" value="{% trans 'Create this opening' %}" />
      {% endif %}
    </div>

  </form>

{% endblock content %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static "css/select2.css" %}" />
{% endblock %}                                                                  
                                                                                
{% block extra-js %}
  <script src="{% static "js/select2.js" %}"></script>
  <script src="{% static "js/vendor/tinymce/tinymce.min.js" %}"></script>
  <script src="{% static "js/vendor/tinymce/jquery.tinymce.min.js" %}"></script>
  <script>
    $(document).ready(function() {

      $('textarea').tinymce({
        plugins: "link image preview fullscreen hr",
        toolbar: "undo redo | bold italic |  hr  | bullist numlist | link unlink | preview",
        menubar: false,
        statusbar: false,
        height: 200
      });

      $('input[id$="included"]').click(function() {
          var $required = $(this).parent().siblings().find('input[id$="required"]');

          if ($(this).is(':checked')) {
            $required.removeAttr("disabled");
          } else {
            $required.prop('checked', false);
            $required.attr("disabled", true);
          }
      });

      $("#id_country").select2({width: '50%'})
      var options = $.map($("#id_department option"), function (el) {
        return el.text;
      });

      $('.add-question').click(function(e) {
        e.preventDefault();
        var rand = Math.random().toString(36).substring(7);
        $input = $(
          '<div class="question large-12 columns"><div class="large-1 columns remove-question"><i class="icon-trash icon-large"></i></div><div class="large-11 columns"><input type="text" class="large-10 columns" name="question-' + rand + '"/></div></div></div>'
        );
        $('.questions').append($input);
        $input.focus();
      });

      $('body').on("click", ".remove-question", function(e){
        $(this).parents('.question').remove();
      });

    });
  </script>
{% endblock %}
