{% extends "base.html" %}

{% load i18n %}


{% block title %}
  {% trans 'Openings' %}
{% endblock title %}


{% block content %}

  <h1>{% trans 'Openings' %}</h1>

  <span class="actions">
    <a href="{% url 'openings:create_opening' %}" class="button">
      {% trans "Create an opening" %}
    </a>
    <a href="#" class="button"
       data-reveal-id="add-applicant-modal">
      {% trans "Add a candidate" %}
    </a>
  </span>


  <div class="box">
    <div class="box-header">
      <h2>{% trans 'Active openings' %}</h2>
    </div>

    <ul class="styled-list">
      {% for opening in opening_list %}
        <li>
          <span class="large-5 columns">
            <a href="{% url 'openings:detail_opening' opening.id %}">{{ opening.title }}</a>
            <br>
            {% if opening.get_location_string %}
              {{ opening.get_location_string  }}
            {% endif %}
          </span>

          <span class="large-3 columns">
            <a href="{% url 'applications:list_applications_opening' opening.id %}">{{ opening.number_applications }} {% trans ' applicants' %}</a>
          </span>

          <span class="large-4 columns">
            {{ opening.get_status }} {% if opening.published_date %} : {{ opening.published_date }}{% endif %}
          </span>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div id="add-applicant-modal" class="reveal-modal">
    <h3>{% trans 'Add applicant' %}</h3>

    <div class="row">
      <p class="large-12 column">
      {% blocktrans %}
      Add an applicant for the following opening :
      {% endblocktrans %}
      </p>
    </div>

    <div class="row">
      <div class="large-9 column">
        <select id="opening-list">
          {% for opening in opening_list %}
            <option value="{% url 'applications:manual_application' opening.pk %}">{{ opening.title }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="large-3 column">
        <button class="button-positive right" id="add-applicant">{% trans 'Add applicant' %}</button>
      </div>

    <a class="close-reveal-modal">&#215;</a>
  </div>

{% endblock content %}

{% block extra-js %}
  <script type="text/javascript">
   $('button#add-applicant').click(function() {
       window.location.href = $("select#opening-list option:selected").attr("value");
   });
  </script>
{% endblock extra-js %}
