{% extends "app_page.html" %}

{% load staticfiles %}
{% load i18n %}


{% block title %}
  {% if opening %}
    {% trans 'Edit' %} {{ opening.title }}
  {% else %}
    {% trans 'Add an opening' %}
  {% endif %}
{% endblock title %}


{% block page-content %}

  {% if opening %}
    <h2>{{ opening.title }} <small>{% trans 'edit opening' %}</small></h2>
  {% else %}
    <h2>{% trans 'Add an opening' %}</h2>
  {% endif %}

  <form action="." method="POST">
    {% csrf_token %}

    {% if form.non_field_errors %}
      <small class="error">
        {% for error in form.non_field_errors %}
          {{ error }}
        {% endfor %}
      </small>
    {% endif %}

    {% for field in form.hidden_fields %}
      {{ field }}
    {% endfor %}
    {% include 'openings/_opening_form_field.html' with field=form.title %}
    <br>
    {% include 'openings/_opening_form_field.html' with field=form.description %}

    {% include 'openings/_opening_form_field.html' with field=form.employment_type %}
    <br>
    {% include 'openings/_opening_form_field.html' with field=form.is_private %}
    <br>
    {% include 'openings/_opening_form_field.html' with field=form.department %}
    <br>
    {% include 'openings/_opening_form_field.html' with field=form.country %}
    <br>
    {% include 'openings/_opening_form_field.html' with field=form.city %}
    <br>
    {% include 'openings/_opening_form_field.html' with field=form.loc_postcode %}


    <div class="questions">
      {% for question in form.questions %}
        <div>
          <i class="icon-trash remove-question"></i>
          <input type="text" name="question-{{ question.id }}" value="{{ question.title }}"/>
        </div>
      {% endfor %}
    </div>
    <a class="button-positive add-question" href="#">{% trans 'Add a question' %}</a>


    <div class="text-right submit-opening">

      {% if opening %}
        <input type="submit" class="button-positive" value="{% trans 'Save changes' %}" />
      {% else %}
        <input type="submit" class="button-positive" value="{% trans 'Create this opening' %}" />
      {% endif %}

    </div>
  </form>

{% endblock page-content %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static "css/select2.css" %}" />
{% endblock %}                                                                  
                                                                                
{% block extra-js %}
  <script src="{% static "js/select2.js" %}"></script>
  <script src="{% static "js/vendor/tinymce/tinymce.min.js" %}"></script>
  <script src="{% static "js/vendor/tinymce/jquery.tinymce.min.js" %}"></script>
  <script>
    $(document).ready(function() {

      $('textarea').tinymce({
        plugins: "link image preview fullscreen hr",
        toolbar: "undo redo | bold italic |  hr  | bullist numlist | link unlink | preview fullscreen",
        menubar: false,
        statusbar: false
      });

      $('input[id$="included"]').click(function() {
          var $required = $(this).parent().siblings().find('input[id$="required"]');

          if ($(this).is(':checked')) {
            $required.removeAttr("disabled");
          } else {
            $required.prop('checked', false);
            $required.attr("disabled", true);
          }
      });

      $("#id_country").select2({width: '50%'})
      var options = $.map($("#id_department option"), function (el) {
        return el.text;
      });

      $('.add-question').click(function(e) {
        e.preventDefault();
        var rand = Math.random().toString(36).substring(7);
        $input = $(
          '<div><i class="icon-trash remove-question"></i><input class="large-11 columns" type="text" name="question-' + rand + '"/></div>'
        );
        $('.questions').append($input);
        $input.focus();
      });

      $('body').on("click", ".remove-question", function(e){
        $(this).parent().remove();
      });

    });
  </script>
{% endblock %}
