{% extends "base_app.html" %}

{% load staticfiles %}
{% load i18n %}

{% block content %}

  {% if opening %}
    <h2 class="page-header">{% trans "Edit opening" %}</h2>
  {% else %}
    <h2 class="page-header">{% trans "Create opening" %}</h2>
  {% endif %}

  <div class="row">
    <form action="." method="POST" class="large-12 columns">
      {% csrf_token %}

      {% if form.non_field_errors %}
        <small class="error">
          {% for error in form.non_field_errors %}
            {{ error }}
          {% endfor %}
        </small>
      {% endif %}

      {% for field in form.hidden_fields %}
        {{ field }}
      {% endfor %}

      {% for field in form.visible_fields %}
        <div class="row">
          <div class="large-12 columns {% if field.errors %} error {% endif %}">

            {{ field.label_tag }}
            {{ field }}

            {% if field.errors %}
              <small class="rounded-error">
                {% for error in field.errors %}
                  {{ error }}
                {% endfor %}
              </small>
            {% endif %}
          </div>
        </div>
        <br>
      {% endfor %}

      <div class="row">
        <div class="large-12 columns">
          <label>{% trans 'Included questions' %}</label>
          <p class="help-text">You can add questions blablab</p>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <div class="row">
            <table class="included-questions large-7 columns large-centered">
              <thead>
              <tr>
                <th class="select">{% trans 'Select' %}</th>
                <th class="name"></th>
                <th class="required">{% trans 'Required ?' %}</th>
              </tr>
              </thead>
              <tbody>
              {% for question_form in form.opening_questions %}
                <tr>
                  <td>
                    {{ question_form.included }}
                  </td>
                  <td><label for="{{ question_form.included.auto_id }}">{{ question_form.question }}</label></td>
                  <td>
                    {{ question_form.required }}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>

      <div class="row">
        <div class="large-12 columns text-right submit-opening">

          {% if opening %}
            <input type="submit" class="button-positive" value="{% trans 'Save changes' %}" />
          {% else %}
            <input type="submit" class="button-positive" value="{% trans 'Create this opening' %}" />
          {% endif %}

        </div>
      </div>

    </form>
  </div>

{% endblock content %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static "css/select2.css" %}" />
{% endblock %}                                                                  
                                                                                
{% block extra-js %}
  <script src="{% static "js/select2.js" %}"></script>
  <script src="{% static "js/cleditor.js" %}"></script>
  <script>
    $(document).ready(function() {

      $('#id_description').cleditor({
          width: $('#id_description').width(),
          controls: "bold italic underline | bullets numbering | outdent indent " +
                  "| alignleft center alignright justify | undo redo |  link unlink | source"
      });

      $('input[id$="included"]').click(function() {
          var $required = $(this).parent().siblings().find('input[id$="required"]');

          if ($(this).is(':checked')) {
            $required.removeAttr("disabled");
          } else {
            $required.prop('checked', false);
            $required.attr("disabled", true);
          }
      });

      $("#id_loc_country").select2({width: '50%'})
      var options = $.map($("#id_department option"), function (el) {
        return el.text;
      });

      function formatState (state) {
          if (state.id == "-1" ) {
            return state.text + " {% trans "(will be created upon saving)" %}";
          } else {
            return state.text;
          }
      }

      $("#id_department").select2({
        width: '50%',
        formatResult: formatState,
        formatSelection: formatState,
        createSearchChoice: function (term, data) {
          if ($(options).filter(function () {
            return term.toLowerCase() == this.toLowerCase();
          }).length === 0) {
            return {id: "-1", text: term};
          }
        },
        prepareElementUpdate: function (data) {
          if (data.id == "-1") {
            $("#id_new_department").val(data.text);
          }
        }
      });
    });
  </script>
{% endblock %}
