{% extends "base.html" %}
{% load staticfiles i18n %}

{% block title %}{% trans 'Edit template' %}{% endblock title %}

{% block content %}
  <h1>{% trans "Edit email template" %}</h1>

  <form action="." method="POST" class="large-6 columns">
    {% csrf_token %}

      <div class="large-6 columns">
        <h3>{% trans "Template" %}</h3>



        {% for field in form %}
          {% include 'core/_field.html' with field=field %}
        {% endfor %}

        <input type="submit" value="{% trans 'Save' %}" class="button" />
      </div>

      <div class="large-6 columns">
        <h3>{% trans "Example result email" %}</h3>

        <strong>{% trans 'Subject' %}</strong>
        <pre id="test_subject"></pre>
        <br>
        <strong>{% trans 'Body' %}</strong>
        <pre id="test_body"></pre>
      </div>

  </form>

  <div class="box large-3 columns left text-center">
    <div class="box-header">
      <h2>{% trans 'Help' %}</h2>
    </div>

    <strong class="help-text">{% trans "You can use the following variables in the templates" %}</strong>

    <ul class="styled-list">
      <li>
        {% verbatim %}{{ applicant_first_name }}{% endverbatim %}
      </li>
      <li>
        {% verbatim %}{{ applicant_last_name }}{% endverbatim %}
      </li>
      <li>
        {% verbatim %}{{ opening }}{% endverbatim %}
      </li>
      <li>
        {% verbatim %}{{ company }}{% endverbatim %}
      </li>
    </ul>
  </div>
{% endblock content %}


{% block extra-js %}
  <script src="{% static "js/vendor/jquery.ba-throttle-debounce.js" %}"></script>

  <script>
      $(document).ready(function() {
        var $body = $("#id_body");
        var $subject = $("#id_subject");


        var showTestTemplate = function() {
          var data = {
            body: $body.val(),
            subject: $subject.val()
          };

          $.post(
            '{% url "customisable_emails:test_render" %}',
            data,
            function (data, textStatus, jqXHR) {
              $("#test_subject").text(data.subject);
              $("#test_body").text(data.body);
            });
        };

        var resizeTextArea = function() {
          var str = $body.val();
          var cols = $body.attr("cols");
          var linecount = 0;

          $.each(str.split("\n"), function (i, line) {
            linecount += (Math.ceil(line.length / cols) || 1);
          });
          console.log(linecount);
          $body.attr("rows", linecount + 1);
        };

        $("#id_body, #id_subject").keyup($.debounce(200, showTestTemplate));

        showTestTemplate();
        resizeTextArea();

        $("textarea#id_body").on("keydown", function () {
          resizeTextArea();
        });
      });

  </script>
{% endblock extra-js %}
