{% extends "companysettings/main.html" %}

{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans 'Email templates' %}{% endblock title %}

{% block settings-content %}
  <table>
    <thead>
      <tr>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Subject" %}</th>
      </tr>
    </thead>

    <tbody>
      {% for emailtemplate in emailtemplate_list %}
        <tr>
          <td><a href="{% url "customisable_emails:edit" emailtemplate.pk %}">{{ emailtemplate.name }}</a></td>
          <td>{{ emailtemplate.subject }}</td>
        </tr>
      {% endfor %}
    </tbody>

  </table>
{% endblock settings-content %}
