{% extends "app_page.html" %}

{% load i18n %}
{% load companysettings %}
{% load staticfiles %}


{% block title %}
  {% trans 'Manage users' %}
{% endblock title %}


{% block page-content %}
  <h2>{% trans "Manage users" %}</h2>

  <div>

    <table>
      <thead>
        <tr class="row">
          <th class="large-3 columns">{% trans "Email" %}</th>
          <th class="large-3 columns">{% trans "Name" %}</th>
          <th class="large-2 columns">{% trans "Status" %}</th>
          <th class="large-2 columns">{% trans "Role" %}</th>
          <th class="large-2 column"></th>
        </tr>
      </thead>

      <tbody>
      {% for user in users %}
        <tr class="row" data-id="{{ user.id }}">
          <td class="large-3 columns">
            <span>{{ user.email }}</span>
          </td>
          <td class="large-3 columns">
            <span>{{ user.name }}</span>
          </td>
          <td class="large-2 columns">
            <span>{{ user.get_status }}</span>
          </td>
          <td class="large-2 columns">
            <span>
             {% if user.is_company_admin %}
               {% trans 'Administrator' %}
             {% else %}
               {% trans 'User' %}
             {% endif %}
            </span>
          </td>
          <td class="large-2 columns">
            <span>
              {% if request.user.is_company_admin and request.user != user %}
                {% if not user.activation_key %}
                  <a href="{% url 'accounts:toggle_status' user.pk %}">
                    {% if user.is_active %}
                      {% trans 'Disable' %}
                    {% else %}
                      {% trans 'Enable' %}
                    {% endif %}
                  </a>
                {% endif %}
              {% endif %}
            </span>
          </td>
        </tr>
      {% endfor %}
      </tbody>

    </table>

  <div>
    <form action="." method="POST">
      {% csrf_token %}

      {% for field in form %}

        <div class="row">
          <div class="large-12 columns {% if field.errors %} error {% endif %}">

            {{ field.label_tag }}
            {{ field }}

            {% if field.errors %}
              <small class="error">
                {% for error in field.errors %}
                  {{ error }}
                {% endfor %}
              </small>
            {% endif %}
          </div>
        </div>

      {% endfor %}

      <div class="row">
        <div class="large-12 columns">
          <div class="right">
            <input type="submit" value="{% trans 'Invite user' %}" class="button-positive" />
          </div>
        </div>
      </div>

    </form>
  </div>

  </div>

{% endblock page-content %}