{% extends "base.html" %}

{% load i18n %}

{% block content %}

  <table class="twelve">
    <thead>
      <tr>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Edit" %}</th>
        <th>{% trans "Delete" %}</th>
      </tr>
    </thead>

    <tbody>
      {% for department in department_list %}
        <tr>
          <td>
            {{ department.name }}
          </td>
          <td>
            <a href="{% url 'companysettings:update_department' department.id %}" class="button">{% trans "Edit" %}</a>
          </td>
          <td>
            <a href="{% url 'companysettings:delete_department' department.id %}" class="alert button">{% trans "Delete" %}</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>

  </table>

  <a href="{% url 'companysettings:create_department' %}" class="button">{% trans "Create a department" %}</a>

{% endblock content %}
