{% extends "base.html" %}

{% load i18n %}
{% load companysettings %}
{% load staticfiles %}

{% block content %}
  <h2 class="page-header">{% trans "Departments" %}</h2>

  <a href="#" class="button-positive has-dropdown" data-dropdown="create-dept" data-url="{% url 'companysettings:create_department' %}">
    {% trans "Create a department" %}
  </a>

  {% include 'companysettings/_dropdown_form.html' with dropdown_id='create-dept' dept_id=None %}

  {% if department_list %}
    <div class="row">
      <table class="large-6 large-centered columns">
        <thead>
          <tr>
            <th>{% trans "Name" %}</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          {% for department in department_list %}
            <tr class="row">
              {% with dropdown_id='edit-dept-'|concatenate:department.id %}
                {% include 'companysettings/_dropdown_form.html' with dropdown_id=dropdown_id object_id=department.id %}

                <td class="has-dropdown large-9 columns" data-dropdown="{{ dropdown_id  }}" data-id="{{ department.id }}" data-url="{% url 'companysettings:update_department' department.id %}">
                  <i class="icon-pencil icon-large"></i>
                  <span>{{ department.name }}</span>
                </td>
                <td class="large-3 columns text-right">
                  <a href="{% url 'companysettings:delete_department' department.id %}">{% trans "Delete" %}</a>
                </td>
            {% endwith %}
            </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>
  {% endif %}

{% endblock content %}

{% block extra-js %}
  <script src="{% static "js/form_dropdown.js" %}"></script>
  <script>
    $(document).ready(function() {
      var formDropdown = new Hizard.FormDropdown(
        '{{ has_errors }}', '{{ error_object_id }}', 'a.has-dropdown', 'td.has-dropdown'
      );
    });
  </script>
{% endblock extra-js %}
