{% extends "base.html" %}

{% load i18n %}

{% block content %}
  <h2 class="page-header">{% trans "Departments" %}</h2>

  <a href="#" class="button-positive" data-dropdown="create-dept">{% trans "Create a department" %}</a>

  <div id="create-dept" class="f-dropdown small content" data-dropdown-content>

    <form action="{% url 'companysettings:create_department' %}" method="POST">
      {% csrf_token %}

      <div class="row">
        <div>
          {{ form.name.label_tag }}
          {{ form.name }}
        </div>
      </div>
      <br>
      <div class="right">
        <input type="submit" class=" button-positive" value="{% trans 'Save' %}" />
      </div>
    </form>

  </div>

  {% if department_list %}
    <div class="row">
    <table class="large-12 large-centered columns">
      <thead>
        <tr>
          <th>{% trans "Name" %}</th>
          <th>{% trans "Actions" %}</th>
        </tr>
      </thead>

      <tbody>
        {% for department in department_list %}
          <tr>
            <td>
              {{ department.name }}
            </td>
            <td>
              <a href="{% url 'companysettings:update_department' department.id %}" class="button-positive">{% trans "Edit" %}</a>
              <a href="{% url 'companysettings:delete_department' department.id %}" class="button-negative">{% trans "Delete" %}</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>

    </table>

    </div>
  {% else %}
    <a href="{% url 'companysettings:create_department' %}" class="button-positive">{% trans "Create a department" %}</a>
  {% endif %}

{% endblock content %}
