{% extends "new_base.html" %}
{% load i18n %}


{% block title %}
  {% trans 'Company information' %}
{% endblock title %}


{% block content %}
  <h1>{% trans "Company information" %}</h1>

  <form action="." method="POST" class="large-6 columns">
    {% csrf_token %}

    {% for field in form %}
      {% include 'core/_field.html' with field=field %}
    {% endfor %}

    <div class="large-12 columns">
     <input type="submit" value="{% trans 'Save' %}" class="button" />
    </div>

  </form>

{% endblock content %}