{% extends "new_base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block title %}
  {% trans 'Stages' %}
{% endblock title %}


{% block content %}
  <h1>{% trans "Stages" %}</h1>

  <div class="large-6 columns">
    <div id="sort-table">
      <table>
        <thead>
        <tr>
          <th class="large-2 columns" colspan="2"></th>
          <th class="large-8 columns">{% trans "Name" %}</th>
          <th class="large-2 columns" colspan="2"></th>
        </tr>
        </thead>

        <tbody class="list">
          {% for stage in stages %}
            <tr>
              <td class="large-1 columns">
                <a href="#" class="edit">
                  {% if not forloop.last %}
                    <a href="{% url "companysettings:reorder_stage" stage.id "down" %}">
                      <i class="icon-arrow-down icon-2x"></i>
                    </a>
                  {% endif %}
                </a>
              </td>
              <td class="large-1 columns">
                <a href="#">
                  {% if not forloop.first %}
                    <a href="{% url "companysettings:reorder_stage" stage.id "up" %}">
                      <i class="icon-arrow-up icon-2x"></i>
                    </a>
                  {% endif %}
                </a>
              </td>
              <td class="id" style="display: none;">{{ stage.id }}</td>
              <td class="large-8 columns name">{{ stage.name }}</td>
              <td class="large-1 columns">
                <a href="#" class="edit"><i class="icon-edit icon-2x"></i></a>
              </td>
              <td class="large-1 columns">
                <a href="#" class="delete-link"><i class="icon-trash icon-2x"></i></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <form action="." method="POST">
        <div class="large-10 columns">
          <input type="hidden" class="form-id" />
          <input type="text" class="form-name" placeholder="{% trans 'Name' %}" />
        </div>
        <div class="large-2 columns">
          <a class="button save" href="#">{% trans 'Save' %}</a>
        </div>
      </form>

    </div>

  </div>

  {% include "companysettings/_modal_confirm.html" %}

{% endblock content %}

{% block extra-js %}
  <script src="{% static "js/vendor/list.min.js" %}"></script>
  <script src="{% static "js/csrf.js" %}"></script>
  <script src="{% static "js/CompanySettings.js" %}"></script>
  <script>
    $(document).ready(function() {
      Hizard.CompanySettings(
        "{% url 'companysettings:ajax_stage' %}",
        "{% url 'companysettings:delete_stage' 8888 %}",
        '{% url "companysettings:reorder_stage" 0 "up" %}',
        '{% url "companysettings:reorder_stage" 0 "down" %}'
      );
    });
  </script>
{% endblock extra-js %}