{% extends "base.html" %}

{% load i18n %}

{% block content %}

  <table class="table">
    <tr>
      <th>{% trans "Name" %}</th>
      <th>{% trans "Type" %}</th>
      <th>{% trans "Edit" %}</th>
      <th>{% trans "Delete" %}</th>
    </tr>

    {% for question in question_list %}
      <tr>
        <td>
          {{ question.name }}
        </td>
        <td>
          {{ question.type }}
        </td>
        <td>
          <a href="{% url 'companysettings:update_question' question.id %}" class="btn">{% trans "Edit" %}</a>
        </td>
        <td>
          <a href="{% url 'companysettings:delete_question' question.id %}" class="btn btn-danger">{% trans "Delete" %}</a>
        </td>
      </tr>
    {% endfor %}

  </table>

  <a href="{% url 'companysettings:create_question' %}" class="btn">{% trans "Create a question" %}</a>

{% endblock content %}
