{% extends "app_page.html" %}

{% load i18n %}
{% load companysettings %}
{% load staticfiles %}


{% block title %}
  {% trans 'Questions' %}
{% endblock title %}

{% block page-content %}

  <h2>
    {% trans "Questions" %}
    <small>{% trans 'things you want to ask candidates when they apply' %}</small>
  </h2>

  <div id="sort-table">

    <table>
      <thead>
      <tr class="row">
        <th class="large-5 columns sort" data-sort="name"><i class="icon-sort"></i> {% trans "Name" %}</th>
        <th class="large-5 columns sort" data-sort="type_field"><i class="icon-sort"></i> {% trans "Type" %}</th>
        <th class="large-2 columns" colspan="2"></th>
      </tr>
      </thead>

      <tbody class="list">
      {% for question in question_list %}
        <tr class="row">
          <td class="id" style="display: none;">{{ question.id }}</td>
          <td class="large-5 columns name">{{ question.name }}</td>
          <td class="large-5 columns type_field">{{ question.get_type_field_display }}</td>
          <td class="large-1 columns">
            <a href="#" class="edit"><i class="icon-edit icon-2x"></i></a>
          </td>
          <td class="large-1 columns">
            <a href="#" class="delete-link"><i class="icon-trash icon-2x"></i></a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <form action="." method="POST">
      <div class="row">
        <div class="large-5 columns">
          <input type="hidden" class="form-id" />
          <input type="text" class="form-name" placeholder="{% trans 'Name' %}" />
        </div>
        <div class="large-5 columns">
          <select class="form-type_field">
            {% for type in types %}
              <option value="{{ type.0 }}">{{ type.1 }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="large-2 columns">
          <a class="button-positive save" href="#">{% trans 'Save' %}</a>
        </div>
      </div>
    </form>

  </div>

  {% include "companysettings/_modal_confirm.html" %}

{% endblock page-content %}

{% block extra-js %}
  <script src="{% static "js/vendor/list.min.js" %}"></script>
  <script src="{% static "js/csrf.js" %}"></script>
  <script src="{% static "js/CompanySettings.js" %}"></script>
  <script>
    $(document).ready(function() {
      Hizard.CompanySettings(
        "{% url 'companysettings:ajax_question' %}",
        "{% url 'companysettings:delete_question' 8888 %}"
      );
    });
  </script>

{% endblock extra-js %}
