
@import '../common/colours';

header {
  a {
    line-height: 80px;
  }

  border-bottom: 1px solid $clouds;
}

.apply-header {
  padding-top: 10px;

  a {
    line-height: 50px;
  }

  border-bottom: 1px solid $clouds;
}