
@import '../common/colours';

.content {
  @include grid-row();
  padding-top: 20px;

  section {
    @include grid-column(6);

    .opening {
      @include grid-row();

      &:first-of-type {
        border-top: 1px solid $clouds;
      }

      border-bottom: 1px solid $clouds;
      padding-top: 10px;
      padding-bottom: 10px;

      a {
        font-size: ms(1);
      }
    }
  }

  aside {
    @include grid-column(6);
  }

}
