{% extends "base_jobs.html" %}

{% load i18n %}


{% block title %}
 {{ opening.title }} - {{ company.name }}
{% endblock title %}


{% block content %}
  <div class="row">

    <div class="large-6 columns">
      <a href="{% url 'public:opening-list' %}">{% trans 'Back to the job listing' %}</a>
      <br>
      <h4>{% trans 'Description' %}</h4>
      {{ opening.description|safe }}
    </div>

    <div class="large-6 columns">
      {% include 'core/_form.html' with form=form %}
    </div>

  </div>
{% endblock content %}
