{% extends "base_jobs.html" %}

{% load i18n %}


{% block title %}
 {{ opening.title }} - {{ company.name }}
{% endblock title %}


{% block header %}
  {{ company.name }}
{% endblock header %}


{% block apply-header %}
  <div class="apply-header row">
    <h3 class="large-9 columns">{{ opening.title }}</h3>
    <a class="large-3 columns" href="{% url 'public:home' %}">{% trans 'Back to the job listing' %}</a>
  </div>
{% endblock apply-header %}


{% block section %}
  {{ opening.description|safe }}
{% endblock section %}


{% block aside %}
  <form action="." method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.errors }}
    {% for field in form %}
      {{ field.label_tag }}
      {{ field }}
    {% endfor %}
    <br><br><br>
    <input type="submit" value="Submit" class="button">
  </form>
{% endblock aside %}
