{% extends "base_public.html" %}

{% load i18n %}


{% block content %}

  <div class="jumbotron">
    <div class="row text-center">
      <h1>{% trans 'Hiring made simple' %}</h1>
      <p>
        <a href="{% url 'accounts:register' %}" class="button-positive">{% trans 'Sign up' %}</a>
      </p>
    </div>
  </div>

  <div class="row text-center">
    <div class="large-12 columns">
      <h3>{% trans 'How can Hizard help you?' %}</h3>
    </div>
  </div>

  <div class="row text-center">
    <div class="large-6 columns">
      <h4>{% trans  'Applicant tracking' %}</h4>
    </div>
    <div class="large-6 columns">
      <h4>{% trans  'Your own career site' %}</h4>
    </div>
  </div>


{% endblock content %}

