{% extends "new_base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block title %}
Hiring management software
{% endblock title %}

{% block content %}
  <section id="slider" class="hero">

    <div class="row">
      <div class="large-12 columns">
        <div class="flexslider">
          <ul class="slides">
            <li>
              <div class="row">
                <div class="large-6 columns slide-text left">
                  <h3>
                    Manage your applications
                    <br/>
                    <small>
                      <ul>
                        <li>All your applicants are tracked in one place.</li>
                        <li>Identify the rights candidates faster.</li>
                      </ul>
                    </small>
                  </h3>
                </div>
                <div class="large-6 columns slide-image right">
                  <img src="http://placekitten.com/g/700/300" alt="Applications list"/>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="large-6 columns slide-image left">
                  <img src="{% static "img/jobs.png" %}" alt="Career page"/>
                </div>
                <div class="large-6 columns slide-text right">
                  <h3>
                    Your own careers page
                    <br/>
                    <small>
                      <ul>
                        <li>Your own career site is already operational</li>
                        <li>Let your candidates apply directly</li>
                        <li>Integrate it into your website, it's super easy</li>
                        <li>Choose your own questions</li>
                      </ul>
                    </small>
                  </h3>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="large-6 columns slide-text left">
                  <h3>
                    Streamline your process
                    <br/>
                    <small>
                      <ul>
                        <li>Customise the interview stages</li>
                        <li>Collaborate on application</li>
                        <li>Automate email sending</li>
                      </ul>
                    </small>
                  </h3>
                </div>
                <div class="large-6 columns slide-image right">
                  <img src="http://placekitten.com/g/700/300" alt="responsive layouts"/>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>


  </section>

  <div class="border"></div>

  <section id="services" class="wrapper">
    <div class="row">

      <div class="large-12 columns">
        <div class="container">

          <h2>Bonus points <small>what we offer you</small></h2>

          <div class="row">
            <div class="large-6 columns service">
              <div class="row">
                <div class="small-4 columns service-icon">
                                          <span class="icon-stack icon-3x">
                                              <i class="icon-circle icon-stack-base"></i>
                                              <i class="icon-user-md icon-dark"></i>
                                          </span>
                </div>
                <div class="small-8 columns">
                  <p class="service-description">
                    <strong>Serious support.</strong> We are serious about
                  support. Whatever your issue is we're here to help.
                  </p>
                </div>
              </div>
            </div>
            <div class="large-6 columns service">
              <div class="row">
                <div class="small-4 columns service-icon">
                  <span class="icon-stack icon-3x">
                      <i class="icon-circle icon-stack-base"></i>
                      <i class="icon-mobile-phone icon-dark"></i>
                  </span>
                </div>
                <div class="small-8 columns">
                  <p class="service-description">
                    <strong>Hizard works great on mobile.</strong> Wherever you
                    are hizard follows you.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            {% comment %}
            <div class="large-6 columns service">
              <div class="row">
                <div class="small-4 columns service-icon">
                                          <span class="icon-stack icon-3x">
                                              <i class="icon-circle icon-stack-base"></i>
                                              <i class="icon-flag icon-dark"></i>
                                          </span>
                </div>
                <div class="small-8 columns">
                  <p class="service-description">
                    <strong>Hizard works in your language.</strong> Hizard is translated in French and Spanish.
                  </p>
                </div>
              </div>
            </div>
            {% endcomment %}

            <div class="large-6 columns service">
              <div class="row">
                <div class="small-4 columns service-icon">
                  <span class="icon-stack icon-3x">
                      <i class="icon-circle icon-stack-base"></i>
                      <i class="icon-magic icon-dark"></i>
                  </span>
                </div>
                <div class="small-8 columns">
                  <p class="service-description">
                    <strong>Hizard is about magic.</strong>
                  </p>
                </div>
              </div>
            </div>

            <div class="large-6 columns service">
              <div class="row">
                <div class="small-4 columns service-icon">
                  <span class="icon-stack icon-3x">
                      <i class="icon-circle icon-stack-base"></i>
                      <i class="icon-rocket icon-dark"></i>
                  </span>
                </div>
                <div class="small-8 columns">
                  <p class="service-description">
                    <strong>You work fast</strong> So does hizard, we make sure every page loads quickly, even when your internet connection is not at its best.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
          </div>

        </div>
      </div>

    </div>
  </section>

  <div class="border"></div>

  <section class="wrapper">
    <div class="row container">
      <a name="contact"/>

      <h2>Private beta <small>hizard is not quite finished yet...</small></h2>
      <p>.. but will be very soon, fill this form and we'll tell you when it's ready!</p>

      <br/>

      <form id="add-interest" action="{% url 'public:add-interest' %}" method="POST"/>{% csrf_token %}
        <div class="large-12 column" id="result">
        </div>

        <div class="large-6 column interestfields">
          <input name="email" id="id_email" type="email" placeholder="Your email" />
        </div>

        <div class="large-6 column interestfields">
          <input type="submit" value="Let me know when it's ready" class="button-positive"/>
        </div>
      </form>
    </div>
  </section>

  {% comment %}
  <section id="about" class="wrapper">

    <div class="row">

      <div class="large-12 columns">
        <div class="container">
          <h2>About us <small>who we are</small></h2>

          <!-- Duplicate rows for however many people in the company. -->
          <div class="row">

            <!-- For a single user, change large-6 to large-12 -->
            <div class="large-6 columns profile">
              <div class="profile-picture">
                <img src="{% static "img/gautier.jpg" %}" alt="placeholder image" />
              </div>
              <p class="profile-description">
                <strong>Gautier Hayoun.</strong>
                Co-Founder, gautier@hizard.com
              </p>
            </div>

            <!-- If this is for a single person, not a larger company, remove this area -->
            <div class="large-6 columns profile">
              <div class="profile-picture">
                <img src="{% static "img/vincent.jpg" %}" alt="placeholder image" />
              </div>
              <p class="profile-description">
                <strong>Vincent Prouillet.</strong>
                Co-Founder, vincent@hizard.com
              </p>
            </div>
            <!-- End removal area for a single user -->

          </div>
          <!-- End duplicating area -->

          <div class="row">
            <div class="large-12 columns">
              <p class="company-description">
                We are professional software developer, we built hizard at the highest technical standards.
              </p>
              <p class="company-description">
              Send us an email to <a href="mailto:team@hizard.com">team@hizard.com</a>, we answer to <strong>all</strong> of them.
              </p>
            </div>
          </div>

        </div>
      </div>

    </div>

  </section>
  {% endcomment %}

  <div class="border inverse"></div>

  <footer>
    <div class="row">
      <div class="large-6 columns copyright">
        &copy; 2013 Hizard, hizard makes hiring easier
      </div>
    </div>
  </footer>

  <!-- Back to top link -->
  <p id="back-top">
    <a href="#"><span><i class="icon-arrow-up icon-4x"></i></span>Back to Top</a>
  </p>
{% endblock content %}


{% block extra-js %}
  <script src="{% static "js/vendor/jquery.flexslider-min.js" %}"></script>
  <script src="{% static "js/csrf.js" %}"></script>
  <script src="{% static "js/landing.js" %}"></script>
{% endblock extra-js %}
