{% extends "base_jobs.html" %}

{% load i18n %}


{% block title %}
  {{ company.name }} - {% trans 'Job Board' %}
{% endblock title %}


{% block content %}

  <div class="row">

    <div class="large-6 columns">
      {% for opening in openings %}
        <div class="opening">
          <a href="{% url 'public:apply' opening.id %}">
            <span class="title">{{ opening.title }}</span>
            <br>
            {% if opening.get_location_string %}
              <span>{{ opening.get_location_string }} - </span>
            {% endif %}
            <span>{{ opening.get_employment_type_display }}</span>
            {% if opening.department %}
              <span> - {{ opening.department.name }}</span>
            {% endif %}
          </a>
        </div>
      {% endfor %}
    </div>

    <div class="large-6 columns">
      {% if company.description %}
        <h4>{% trans 'Company description' %}</h4>
        {{ company.description }}
      {% endif %}
    </div>

  </div>

{% endblock content %}
