{% extends "base_jobs.html" %}

{% load i18n %}


{% block title %}
  {{ company.name }} - {% trans 'Job Board' %}
{% endblock title %}

{% block header %}
  {{ company.name }}
{% endblock header %}

{% block section %}
  <h3>{% trans 'Openings' %}</h3>

  {% for opening in openings %}
    <div class="opening">
      <a href="{% url 'public:apply' opening.id %}">{{ opening.title }}</a>
      <br>
      {% if opening.department %}
        <span>{% trans 'Department: ' %} {{ opening.department }}</span>
      {% endif %}
    </div>
  {% endfor %}
{% endblock section %}


{% block aside %}
  {% if company.description %}
    {{ company.description }}
  {% endif %}
{% endblock aside %}
