{% extends "account_page.html" %}
{% load i18n %}


{% block title %}
  {% trans 'Activate' %}
{% endblock title %}


{% block page-content %}

  <h2>{% trans 'Activate my account' %}</h2>

  <form action="." method="POST" class="large-centered large-6 columns">
    {% csrf_token %}

    {% if form.non_field_errors %}
      <small class="error">
        {% for error in form.non_field_errors %}
          {{ error }}
        {% endfor %}
      </small>
    {% endif %}

    {% for field in form %}
      <div class="row">
        <div class="large-12 columns {% if field.errors %} error {% endif %}">

          <label for="{{ field.auto_id }}">{{ field.label }}{% if field.field.required %} *{% endif %}</label>
          {{ field }}

          {% if field.errors %}
            <small class="error">
              {% for error in field.errors %}
                {{ error }}
              {% endfor %}
            </small>
          {% endif %}
        </div>
      </div>
    {% endfor %}


    <div class="row">
      <div class="large-12 columns text-right">
        <input type="submit" class="button-positive" value="{% trans 'Activate my account' %}" />
      </div>
    </div>
  </form>


{% endblock page-content %}
