{% extends "account_page.html" %}
{% load i18n %}


{% block title %}
  {% trans 'Login' %}
{% endblock title %}


{% block page-content %}

  {% url 'accounts:register' as register_url %}

  <h2>
    {% trans 'Login' %}
    <small>
      {% blocktrans %}
        Don't have an account ? <a href="{{ register_url }}">Sign up</a>
      {% endblocktrans %}
    </small>
  </h2>


  {% if from_activation %}
    <div class="text-center large-centered large-6 columns">
      <h3>{% trans "Account activated" %}</h3>
      <p>{% trans "You can now login with your email and password." %}</p>
    </div>
  {% endif %}


    <form action="." method="POST" class="large-6 columns large-centered">
      {% csrf_token %}

      {% if form.non_field_errors %}
        <small class="error">
          {% for error in form.non_field_errors %}
            {{ error }}
          {% endfor %}
        </small>
      {% endif %}

      {% for field in form %}
        <div class="row">
          <div class="large-12 columns {% if field.errors %} error {% endif %}">

            {{ field.label_tag }}
            {{ field }}

            {% if field.errors %}
              <small class="error">
                {% for error in field.errors %}
                  {{ error }}
                {% endfor %}
              </small>
            {% endif %}
          </div>
        </div>
      {% endfor %}


      <div class="row">
        <div class="large-12 columns text-right">
          <a href="{% url 'auth:reset_password' %}" class="forgot-password">
            {% trans 'Forgot your password?' %}
          </a>
          <input type="submit" class="button-positive" value="{% trans 'Login' %}" />
        </div>
      </div>
    </form>


{% endblock page-content %}
