{% extends "account_base.html" %}
{% load i18n %}


{% block title %}
  {% trans 'Login' %}
{% endblock title %}


{% block content %}

  {% url 'accounts:register' as register_url %}

  {% if from_activation %}
    <div class="text-center large-centered large-6 columns">
      <h3>{% trans "Account activated" %}</h3>
      <p>{% trans "You can now login with your email and password." %}</p>
    </div>
  {% endif %}

  <div class="box large-3 columns large-centered account-box">
    <div class="box-header">
      <h2>{% trans 'Login' %}</h2>
    </div>

    <p class="text-center">
      {% blocktrans %}
        Don't have an account ? <a href="{{ register_url }}">Sign up</a>
      {% endblocktrans %}
    </p>

    {% if demo_login %}
      <p class="text-center">
        {% trans "You are about to log-in with the demo account." %}
      </p>
    {% endif %}

    <form action="." method="POST" class="large-10 columns large-centered">
      {% csrf_token %}

      {% if form.non_field_errors %}
        <small class="error">
          {% for error in form.non_field_errors %}
            {{ error }}
          {% endfor %}
        </small>
      {% endif %}

      {% for field in form %}
        {% include 'core/_field.html' with field=field %}
      {% endfor %}


      <input type="submit" class="button" value="{% trans 'Login' %}" />

      <a href="{% url 'auth:reset_password' %}" class="forgot-password right">
        {% trans 'Forgot your password?' %}
      </a>
    </form>

  </div>

{% endblock content %}
