{% extends "account_base.html" %}
{% load i18n %}

{% block title %}
  {% trans 'Password reset' %}
{% endblock title %}

{% block content %}

    {% if valid_link %}

      <div class="box large-3 columns large-centered account-box">
        <div class="box-header">
          <h2>{% trans 'Enter your new password' %}</h2>
        </div>

        <form action="." method="POST" class="large-10 columns large-centered">
          {% csrf_token %}

          {% if form.non_field_errors %}
            <small class="error">
              {% for error in form.non_field_errors %}
                {{ error }}
              {% endfor %}
            </small>
          {% endif %}

          {% for field in form %}
            {% include 'core/_field.html' with field=field %}
          {% endfor %}

          <input type="submit" class="button" value="{% trans 'Change my password' %}" />
        </form>

      </div>

    {% else %}
      <div class="text-center">
        <h1>{% trans "Password reset failed" %}</h1>
      </div>

    {% endif %}

{% endblock content %}
