{% extends "account_base.html" %}
{% load i18n %}


{% block title %}
  {% trans 'Reset your password' %}
{% endblock title %}

{% block content %}

  <div class="box large-3 columns large-centered account-box">
    <div class="box-header">
      <h2>{% trans 'Password reset' %}</h2>
    </div>

    <p class="text-center">
      {% blocktrans %}
        <strong>Forgotten your password?</strong> <br>
        Enter your email address in the form and we'll email instructions for setting a new one.
      {% endblocktrans %}
    </p>

    <form action="." method="POST" class="large-10 columns large-centered">
      {% csrf_token %}

      {% if form.non_field_errors %}
        <small class="error">
          {% for error in form.non_field_errors %}
            {{ error }}
          {% endfor %}
        </small>
      {% endif %}

      {% for field in form %}
        {% include 'core/_field.html' with field=field %}
      {% endfor %}


      <input type="submit" class="button" value="{% trans 'Reset my password' %}" />
    </form>

  </div>


{% endblock content %}
