{% extends "account_page.html" %}
{% load i18n %}

{% block title %}
  {% trans 'Password reset' %}
{% endblock title %}

{% block page-content %}

    {% if valid_link %}
      <h2>{% trans 'Do you really want to reset your password?' %}</h2>

      <form action="." method="POST" class="large-centered large-6 columns">
        {% csrf_token %}

        {% if form.non_field_errors %}
          <small class="error">
            {% for error in form.non_field_errors %}
              {{ error }}
            {% endfor %}
          </small>
        {% endif %}

        {% for field in form %}
          <div class="row">
            <div class="large-12 columns {% if field.errors %} error {% endif %}">

              {{ field.label_tag }}
              {{ field }}

              {% if field.errors %}
                <small class="error">
                  {% for error in field.errors %}
                    {{ error }}
                  {% endfor %}
                </small>
              {% endif %}
            </div>
          </div>
        {% endfor %}


        <div class="row">
          <div class="large-12 columns text-right">
            <input type="submit" class="button-positive" value="{% trans 'Reset my password' %}" />
          </div>
        </div>
      </form>

    {% else %}
      <div class="row text-center">
        <h3>{% trans "Password reset failed" %}</h3>
      </div>

    {% endif %}

{% endblock page-content %}
