{% extends "base.html" %}
{% load i18n %}

{% block content %}

    {% if valid_link %}

        <form action="" method="POST" id="action-form" class="form-horizontal">
          {% csrf_token %}
          {{ form }}
          <div class="form-actions">
            {% block form-actions %}
              <input type="submit" value="{% trans 'Submit' %}" class="btn"/>
            {% endblock %}
          </div>
        </form>

    {% else %}

        <p>{% trans "Password reset failed" %}</p>

    {% endif %}

{% endblock %}
