{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}

<div class="hizard-form large-6 columns large-centered panel">

  <form action="." method="POST" id="action-form">
    {% csrf_token %}

    {% if form.non_field_errors %}
      <small class="error">{{ form.non_field_errors }}</small>
    {% endif %}

    <div class="row">
      <div class="large-12 columns form-title">
        <h1>{% trans "Login" %}</h1>
        <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
      </div>
    </div>

    <div class="row collapse">
      <div class="large-2 columns">
        <span class="icon-envelope icon-large prefix"></span>
      </div>
      <div class="large-10 columns {% if form.email.errors %} error {% endif %}">
        {{ form.email }}
        {% if form.email.errors %}
          <small class="error">{{ form.email.errors.as_text }}</small>
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns submit-button">
        <input type="submit" class="button" value="{% trans 'Reset my password' %}}" />
      </div>
    </div>
  </form>
</div>

{% endblock %}
