/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets */
/* line 17, ../../../pregen_static/sass/launch/_flexslider.scss */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}

/* line 20, ../../../pregen_static/sass/launch/_flexslider.scss */
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* FlexSlider Necessary Styles
*********************************/
/* line 24, ../../../pregen_static/sass/launch/_flexslider.scss */
.flexslider {
  margin: 0;
  padding: 0;
}

/* line 25, ../../../pregen_static/sass/launch/_flexslider.scss */
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
/* line 26, ../../../pregen_static/sass/launch/_flexslider.scss */
.flexslider .slides img {
  width: 100%;
  display: block;
}

/* line 27, ../../../pregen_static/sass/launch/_flexslider.scss */
.flex-pauseplay span {
  text-transform: capitalize;
}

/* Clearfix for the .slides element */
/* line 30, ../../../pregen_static/sass/launch/_flexslider.scss */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 31, ../../../pregen_static/sass/launch/_flexslider.scss */
html[xmlns] .slides {
  display: block;
}

/* line 32, ../../../pregen_static/sass/launch/_flexslider.scss */
* html .slides {
  height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
/* line 37, ../../../pregen_static/sass/launch/_flexslider.scss */
.no-js .slides > li:first-child {
  display: block;
}

/* FlexSlider Default Theme
*********************************/
/* line 42, ../../../pregen_static/sass/launch/_flexslider.scss */
.flexslider {
  margin: 0 0 60px;
  position: relative;
  zoom: 1;
}

/* line 43, ../../../pregen_static/sass/launch/_flexslider.scss */
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 44, ../../../pregen_static/sass/launch/_flexslider.scss */
.loading .flex-viewport {
  max-height: 300px;
}

/* line 45, ../../../pregen_static/sass/launch/_flexslider.scss */
.flexslider .slides {
  zoom: 1;
}

/* line 47, ../../../pregen_static/sass/launch/_flexslider.scss */
.carousel li {
  margin-right: 5px;
}

/* Direction Nav */
/* line 51, ../../../pregen_static/sass/launch/_flexslider.scss */
.flex-direction-nav {
  *height: 0;
}

/* line 52, ../../../pregen_static/sass/launch/_flexslider.scss */
.flex-direction-nav a {
  width: 30px;
  height: 30px;
  margin: -20px 0 0;
  display: block;
  background: url(../img/bg_direction_nav.png) no-repeat 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  text-indent: -9999px;
  opacity: 0;
  -webkit-transition: all .3s ease;
}

/* line 53, ../../../pregen_static/sass/launch/_flexslider.scss */
.flex-direction-nav .flex-next {
  background-position: 100% 0;
  right: -36px;
}

/* line 54, ../../../pregen_static/sass/launch/_flexslider.scss */
.flex-direction-nav .flex-prev {
  left: -36px;
}

/* line 55, ../../../pregen_static/sass/launch/_flexslider.scss */
.flexslider:hover .flex-next {
  opacity: 0.8;
  right: 5px;
}

/* line 56, ../../../pregen_static/sass/launch/_flexslider.scss */
.flexslider:hover .flex-prev {
  opacity: 0.8;
  left: 5px;
}

/* line 57, ../../../pregen_static/sass/launch/_flexslider.scss */
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1;
}

/* line 58, ../../../pregen_static/sass/launch/_flexslider.scss */
.flex-direction-nav .flex-disabled {
  opacity: 0.3 !important;
  filter: alpha(opacity=30);
  cursor: default;
}

/* Control Nav */
/* line 61, ../../../pregen_static/sass/launch/_flexslider.scss */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}

/* line 62, ../../../pregen_static/sass/launch/_flexslider.scss */
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

/* line 63, ../../../pregen_static/sass/launch/_flexslider.scss */
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

/* line 64, ../../../pregen_static/sass/launch/_flexslider.scss */
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}

/* line 65, ../../../pregen_static/sass/launch/_flexslider.scss */
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}

/* line 67, ../../../pregen_static/sass/launch/_flexslider.scss */
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}

/* line 68, ../../../pregen_static/sass/launch/_flexslider.scss */
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}

/* line 69, ../../../pregen_static/sass/launch/_flexslider.scss */
.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer;
}

/* line 70, ../../../pregen_static/sass/launch/_flexslider.scss */
.flex-control-thumbs img:hover {
  opacity: 1;
}

/* line 71, ../../../pregen_static/sass/launch/_flexslider.scss */
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}

@media screen and (max-width: 860px) {
  /* line 74, ../../../pregen_static/sass/launch/_flexslider.scss */
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 0;
  }

  /* line 75, ../../../pregen_static/sass/launch/_flexslider.scss */
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 0;
  }
}
