{% load i18n %}

<div>
  {% for level, message in discussion %}
    {% ifchanged level %}
      {% if not forloop.first %}
        {% ifchanged level %}
          </div>
        {% endifchanged %}
      {% endif %}

      <div class="message-level-{{ level }} message-thread">
    {% endifchanged %}

  <div class="message">
    <img src="{{ message.user.get_avatar_url }}" alt="{{ message.user.name }}" class="avatar" />
    <div class="message-content">
      <span class="name">{{ message.user.name }}</span>
      —
      <span class="time">{{ message.created|timesince }} {% trans 'ago' %}</span>
      <p>
        {{ message.body }}
      </p>
    </div>
    <a href="#" data-reply-to="{{ message.pk }}" class="reply-link">{% trans 'Reply' %}</a>
  </div>

  {% if forloop.last %}
    </div>
  {% endif %}
  {% endfor %}
</div>


<form action="{% url 'applications:create_message' application.id %}"
  method="POST"
  id="new-message-form">
  {% csrf_token %}

  <label for="{{ new_message_form.body.auto_id }}">{% trans 'Post a new message' %}</label>
   {{ new_message_form.body }}

  <div class="form-actions end">
    {{ new_message_form.parent }}
    <input type="submit" value="{% trans 'Save message' %}" class="button right post-message" />
  </div>
</form>
