{% load i18n %}
{% load staticfiles %}



<p>
  <a href="#" data-reveal-id="transition-form-modal">
    {% trans 'Change the stage of this application' %}
  </a>
</p>


<div>
  {% for transition in application.stage_transitions.all %}
    <p>
      <span class="label">{{ transition.stage }}</span>
      {{ transition.user.first_name }} {{ transition.user.last_name }}
      {{ transition.created|date:"SHORT_DATETIME_FORMAT" }}<br/>
      {{ transition.note|linebreaks }}
    </p>
    {% if not forloop.last %}
      <hr/>
    {% endif %}
  {% endfor %}
</div>


