{% load i18n %}

<div>
  {% for level, message in discussion %}
    {% ifchanged level %}
      {% if not forloop.first %}
        {% ifchanged level %}
          </div>
        {% endifchanged %}
      {% endif %}

      <div class="message-level-{{ level }} message-thread">
    {% endifchanged %}

  <div class="message">
    {# only for test, users always have an avatar #}
    {% if message.user.avatar %}
      <img src="{{ message.user.avatar.url }}" alt="{{ message.user.name }}" class="left" />
    {% endif %}
    <div class="message-content">

      <span class="name">{{ message.user.name }}</span>
      —
      <span class="time">{{ message.created|timesince }} {% trans 'ago' %}</span>
      <p>
        {{ message.body }}
      </p>
      <a href="#" data-reply-to="{{ message.pk }}" class="reply-link">{% trans 'Reply' %}</a>
    </div>

  </div>

  {% if forloop.last %}
    </div>
  {% endif %}
  {% endfor %}
</div>


<form action="{% url 'applications:create_message' application.id %}"
  method="POST"
  id="new-message-form">
  {% csrf_token %}
    <div>
      {{ new_message_form.body }}
    </div>

  <div>
    <div class="form-actions end">
      <div>
        {{ new_message_form.parent }}
        <input type="submit" value="{% trans 'Save message' %}" class="button-positive" />
      </div>
    </div>
  </div>
</form>
