{% load i18n %}

<table width="100%">
  <tbody>
  <tr>
    <td width="20px"></td>
    <td width="200px">First Name</td>
    <td>{{ application.applicant.first_name }}</td>
  </tr>
  <tr>
    <td width="20px"></td>
    <td width="200px">Last Name</td>
    <td>{{ application.applicant.last_name }}</td>
  </tr>
  <tr>
    <td width="20px"></td>
    <td width="200px">Email</td>
    <td>{{ application.applicant.email }}</td>
  </tr>
  </tbody>
</table>

<table width="100%">
  <tbody>
  {% for answer in answers %}
    <tr>
      <td width="20px"></td>
      <td width="200px">{{ answer.question.name }}</td>
      <td>
        {% if answer.question.type == "file" %}
          <a href="{{ MEDIA_URL }}{{ answer.answer }}" target="_blank">{{ answer.answer }}</a>
        {% else %}
          {{ answer.answer }}
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
