{% extends "base.html" %}

{% load i18n %}

{% block content %}

  <table class="twelve">
    <thead>
      <tr>
        <th>{% trans "First Name" %}</th>
        <th>{% trans "Last Name" %}</th>
        <th>{% trans "Date applied" %}</th>
      </tr>
    </thead>

    <tbody>
      {% regroup application_list by opening as opening_applications %}

      {% for opening in opening_applications %}
        <tr>
          <td colspan="3">
            {{ opening.grouper.title }} for {{ opening.grouper.department }}
          </td>
        </tr>

        {% for application in opening.list %}
          <tr>
            <td>
              <a href="{% url 'applications:application_detail' application.id %}">{{ application.applicant.first_name }}</a>
            </td>
            <td>
              {{ application.applicant.last_name }}
            </td>
            <td>
              {{ application.created }}
            </td>
          </tr>
        {% endfor %}
      {% endfor %}
    </tbody>

  </table>

{% endblock content %}
