{% extends "app_page.html" %}

{% load i18n %}

{% block title %}
  {{ application.applicant.first_name }} {{ application.applicant.last_name }}
{% endblock title %}

{% block page-content %}

  <h2>
    {{ application.applicant.first_name }} {{ application.applicant.last_name }}
    <small>{% trans 'applicant details' %}</small>
  </h2>

  <p>
    <i class="icon-envelope"></i> {{ application.applicant.email }}
    <br>
    <i class="icon-briefcase"></i> <a href="{% url 'openings:detail_opening' application.opening.id %}">{{ application.opening.title }}</a>
  </p>

  <div class="transitions">
    <a href="#" data-reveal-id="transition-form-modal" class="button-positive">
      {% trans 'Change the stage of this application' %}
    </a>

    {% for transition in application.stage_transitions.all %}
      <div class="row transition {% if forloop.last %}last-transition{% endif %}">
        <div class="large-2 columns">
          {{ transition.created|date:"DATE_FORMAT" }}
        </div>
        <div class="large-3 columns">
          {{ transition.stage }}
        </div>
        <div class="large-4 columns">
            {{ transition.user.name }}
        </div>
        {% if transition.note %}
        <div class="large-3 columns toggle-note">
          {% trans 'See note' %}
        </div>
        {% else %}
          <div class="large-3 columns">
          </div>
        {% endif %}

        <div class="transition-note">
          {{ transition.note|linebreaks }}
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="section-container tabs" data-section="" data-options="deep_linking: true">

    <section class="section">
      <p class="title"><a href="#resume">{% trans 'Resume' %}</a></p>
      <div class="content" data-slug="resume">
        {% include 'applications/_resume_tab.html' with application=application %}
      </div>
    </section>

    {% if answers %}
      <section class="section">
        <p class="title"><a href="#questions">{% trans 'Additional Questions' %}</a></p>
        <div class="content" data-slug="questions">
          {% include 'applications/_questions_tab.html' with application=application %}
        </div>
      </section>
    {% endif %}

    <section class="section">
      <p class="title"><a href="#discussion">{% trans 'Discussion' %}</a></p>
      <div class="content" data-slug="discussion">
        {% include 'applications/_discussion_tab.html' with application=application new_message_form=new_message_form discussion=discussion %}
      </div>
    </section>
  </div>

  <div id="transition-form-modal" class="reveal-modal">
    <h3>{% trans 'Current stage' %} : {{ application.current_stage }}</h3>
    <form action="." method="POST" id="transition-form">
      {% csrf_token %}

      {% if form.errors %}
        <span class="has-errors"></span>
      {% endif %}

      {% for field in form %}
        <div class="row">
          <div class="large-12 columns {% if field.errors %} error {% endif %}">

            {{ field.label_tag }}
            {{ field }}

            {% if field.errors %}
              <small class="rounded-error">
                {% for error in field.errors %}
                  {{ error }}
                {% endfor %}
              </small>
            {% endif %}
          </div>
        </div>
      {% endfor %}

      <div class="row">
        <input type="submit" value="{% trans 'Change stage' %}" class="button-positive right" />
      </div>

    </form>
    <a class="close-reveal-modal">&#215;</a>
  </div>
{% endblock page-content %}

{% block extra-js %}
  <script type="text/javascript">

   $('.toggle-note').click(function() {
      $(this).next('.transition-note').toggle();
   });

    $("a.reply-link").click(function (event) {
        event.preventDefault();

        var newForm = $("#new-message-form").clone(),
            link = $(this),
            parentMessage = link.data("reply-to");
        link.after(newForm);
      newForm.find("#id_parent").val(parentMessage);
    });

    $("textarea#id_note").on("keydown", function () {
      var textarea = $(this),
          str = textarea.val(),
          cols = textarea.attr("cols"),
          linecount = 0;

      $.each(str.split("\n"), function (i, line) {
        linecount += (Math.ceil(line.length / cols) || 1);
      })
      textarea.attr("rows", linecount + 1);
    });

    $(function () {
      if ($("#transition-form").find(".has-errors").length > 0) {
        $("a[data-reveal-id=transition-form-modal]").click();
      }
    })
  </script>
{% endblock extra-js %}
