{% extends "app_page.html" %}

{% load i18n %}

{% block title %}
  {{ application.applicant.first_name }} {{ application.applicant.last_name }}
{% endblock title %}

{% block page-content %}
  <h2>
    {{ application.applicant.first_name }} {{ application.applicant.last_name }}
    <small>{% trans 'applying for ' %}<a href="{% url 'openings:detail_opening' application.opening.id %}">{{ application.opening.title }}</a></small>
     <span class="actions">
       <a href="" class="button-negative right">
         {% trans "Reject" %}
       </a>
        <a href="#" data-reveal-id="transition-form-modal" class="button-positive right">
          {% trans "Change stage" %}
        </a>
    </span>
  </h2>

  <div class="row">
    <div class="large-6 columns">
      <p>
        <span class="left">
          <i class="icon-envelope"></i> {{ application.applicant.email }}
        </span>

        <span class="rating right">
          {% if user_rating != -1 %}
            <a href="{% url 'applications:rate' application.id -1 %}"><i class="icon-thumbs-down"></i></a>
          {% else %}
            <a href="{% url 'applications:rate' application.id 0 %}" class="rate-neutral"><i class="icon-thumbs-down"></i></a>
          {% endif %}

          {{ rating }}

          {% if user_rating != 1 %}
            <a href="{% url 'applications:rate' application.id 1 %}"><i class="icon-thumbs-up"></i></a>
          {% else %}
            <a href="{% url 'applications:rate' application.id 0 %}" class="rate-neutral"><i class="icon-thumbs-up"></i></a>
          {% endif %}
        </span>
      </p>

      <p class="clear">
        <h4>{% trans 'Resume' %}</h4>
        <a href="http://docs.google.com/gview?url={{ application.applicant.resume.url }}" target="_blank"class="button-positive">See resume</a>
        <a href="{{ application.applicant.resume.url }}" target="_blank" class="button-positive">Download resume</a>
      </p>

      <span>
        <h4>{% trans 'Answers' %}</h4>
        {% for answer in answers %}
          <p>
            <strong>{{ answer.question.title }}</strong><br>
            {{ answer.answer }}
          </p>
        {% endfor %}
      </span>

      <span>
        <h4>{% trans 'Discussion' %}</h4>
        {% include 'applications/_comments_tab.html' with application=application new_message_form=new_message_form discussion=discussion %}
      </span>

    </div>

    <div class="large-6 columns">
      <h4>{% trans 'Event feed' %}</h4>

      {% for transition in application.stage_transitions.all %}
        <div>
          <span>{{ transition.created|date:"Y/m/d" }} - {% trans 'Moved to ' %}{{ transition.stage }}</span>
          {% if transition.note %}
            <blockquote class="note">
              {{ transition.note|linebreaks }}
              <cite>{{ transition.user.name }}</cite>
            </blockquote>
          {% endif %}

        </div>
      {% endfor %}

    </div>

  </div>

  <div id="transition-form-modal" class="reveal-modal">
    <h3>{% trans 'Current stage' %} : {{ application.current_stage }}</h3>
    <form action="." method="POST" id="transition-form">
      {% csrf_token %}

      {% if form.errors %}
        <span class="has-errors"></span>
      {% endif %}

      {% for field in form %}
        <div class="row">
          <div class="large-12 columns {% if field.errors %} error {% endif %}">

            {{ field.label_tag }}
            {{ field }}

            {% if field.errors %}
              <small class="rounded-error">
                {% for error in field.errors %}
                  {{ error }}
                {% endfor %}
              </small>
            {% endif %}
          </div>
        </div>
      {% endfor %}

      <div class="row">
        <a href="{% url 'applications:hire' application.id %}" class="button-positive left">{% trans 'Hire' %}</a>
        <input type="submit" value="{% trans 'Change stage' %}" class="button-positive right" />
      </div>

    </form>
    <a class="close-reveal-modal">&#215;</a>
  </div>
{% endblock page-content %}

{% block extra-js %}
  <script type="text/javascript">
    $("a.reply-link").click(function (event) {
      event.preventDefault();

      var newForm = $("#new-message-form").clone(),
              link = $(this),
              parentMessage = link.data("reply-to");
      link.after(newForm);
      newForm.find("#id_parent").val(parentMessage);
    });

    $("textarea#id_note").on("keydown", function () {
      var textarea = $(this),
              str = textarea.val(),
              cols = textarea.attr("cols"),
              linecount = 0;

      $.each(str.split("\n"), function (i, line) {
        linecount += (Math.ceil(line.length / cols) || 1);
      })
      textarea.attr("rows", linecount + 1);
    });

    $(function () {
      if ($("#transition-form").find(".has-errors").length > 0) {
        $("a[data-reveal-id=transition-form-modal]").click();
      }
    })
  </script>
{% endblock extra-js %}