{% extends "new_base.html" %}

{% load i18n %}
{% load staticfiles %}


{% block title %}
  {% if opening %}
    {% trans 'Applications for ' %} {{ opening.title }}
  {% else %}
    {% trans 'Applications' %}
  {% endif %}
{% endblock title %}

{% block content %}

  <h1>
    {% if opening %}
      {% trans 'Applications for ' %} {{ opening.title }}
    {% else %}
      {% trans 'All applications' %}
    {% endif %}
  </h1>

  <div>

    <div id="table-applicants">

      <div class="large-2 columns">
        <input type="search" class="search" placeholder="Search" />

        {% for stage in stages %}
          <label>
            <input class="filter-stages" type="checkbox" value="{{ stage.name }}"/>   {{ stage.name }}
          </label>
        {% endfor %}

      </div>

      <div class="large-10 columns">

        <table>

          <thead>
            <tr class="row">
              <th class="large-3 columns sort" data-sort="name"><i class="icon-sort"></i> {% trans "Name" %}</th>
              <th class="large-2 columns sort" data-sort="applied"><i class="icon-sort"></i> {% trans "Applied" %}</th>
              <th class="large-2 columns sort" data-sort="stage"><i class="icon-sort"></i> {% trans "Stage" %}</th>
              <th class="large-3 columns sort" data-sort="opening"><i class="icon-sort"></i> {% trans "Opening" %}</th>
              <th class="large-2 columns sort" data-sort="rating"><i class="icon-sort"></i> {% trans "Rating" %}</th>
            </tr>
          </thead>

          <tbody class="list">
            {% for application in application_list %}
              <tr class="row">
                <td class="id" style="display: none;">{{ application.id }}</td>
                <td class="large-3 columns name">
                  <a href="{% url 'applications:application_detail' application.id %}">
                    {{ application.applicant.get_full_name }}
                  </a>
                </td>
                <td class="large-2 columns applied">{{ application.created|date:"Y/m/d"  }}</td>
                <td class="large-2 columns stage">{{ application.current_stage }}</td>
                <td class="large-3 columns opening">
                  <a href="{% url 'openings:detail_opening' application.opening.id %}">
                    {{ application.opening.title }}
                  </a>
                </td>
                <td class="large-2 columns rating">{{ application.get_rating }}</td>
              </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>
    </div>

  </div>

{% endblock content %}

{% block extra-js %}
  <script src="{% static "js/vendor/list.min.js" %}"></script>

  <script>
    var options = {
      valueNames: ['id', 'name', 'applied', 'stage', 'opening', 'rating']
    };
    var applicantTable = new List('table-applicants', options);

    var $filterStages = $('.filter-stages');

    $filterStages.click(function() {
      var selectedFilterStage = $('.filter-stages:checkbox:checked').map(function() {
        return this.value;
      }).get();

      applicantTable.filter(function(item) {
        if (selectedFilterStage.length === 0) {
          return true;
        }
        return $.inArray(item.values().stage, selectedFilterStage) !== -1;
      });
    });

  </script>
{% endblock %}
