{% extends "base.html" %}

{% load i18n %}

{% block content %}
  <header class="applicant">
    <h1>{{ application.applicant.first_name }} {{ application.applicant.last_name }}</h1>
  </header>

  <br><br>

  <div class="section-container tabs" data-section="" data-options="deep_linking: true">

    <section class="section">
      <p class="title"><a href="#dashboard">{% trans 'Dashboard' %}</a></p>
      <div class="content" data-slug="dashboard">
        {% include 'applications/_dashboard_tab.html' with form=form %}
      </div>
    </section>

    <section class="section">
      <p class="title"><a href="#profile">{% trans 'Profile' %}</a></p>
      <div class="content" data-slug="profile">
        {% include 'applications/_profile_tab.html' with application=application %}
      </div>
    </section>

    <section class="section">
      <p class="title"><a href="#resume">{% trans 'Resume' %}</a></p>
      <div class="content" data-slug="resume">
        {% with application.applicant.resume as resume %}
          {{ resume.name }} ({{ resume.size|filesizeformat }})
          <a href="{{ application.applicant.resume.url }}" target="_blank">{% trans 'Download' %}</a>
          <iframe src="http://docs.google.com/gview?url={{ application.applicant.resume.url }}&embedded=true"
            style="width:100%; height:1280px;"
            frameborder="0">
          </iframe>
        {% endwith %}
      </div>
    </section>

    <section class="section">
      <p class="title"><a href="#notes">{% trans 'Discussion' %}</a></p>
      <div class="content" data-slug="notes">
        {% include 'applications/_discussion_tab.html' with application=application new_message_form=new_message_form discussion=discussion %}
      </div>
    </section>

    <section class="section">
      <p class="title"><a href="#history">{% trans 'History' %}</a></p>
      <div class="content" data-slug="history">
        {% include 'applications/_history_tab.html' with application=application %}
      </div>
    </section>

  </div>
{% endblock %}

{% block extra-js %}
<script type="text/javascript">
  $("a.reply-link").click(function (event) {
      event.preventDefault();
      var new_form = $("#new-message-form").clone(),
          link = $(this),
          small_parent = $(link.parents("small")[0]),
          parent_message = link.attr("reply-to");
      small_parent.after(new_form);
      new_form.find("#id_parent").val(parent_message);
  });
</script>
{% endblock extra-js %}
