{% extends "base.html" %}

{% load i18n %}
{% load core_extra %}
{% load staticfiles %}

{% block content %}

<div class="toggle-list-applications">
  <a href={% url 'applications:list_all_applications' %}>{% trans 'Show as list' %}</a>
</div>

<div class="kanban-board">
  {% for stage in board %}
    <div class="kanban-list">
      <div class="kanban-list-header"><h2>{{ stage.name }}</h2></div>
      <div class="kanban-list-cards" data-stage-id="{{ stage.id }}">
        {% for application in board|get_item:stage %}

          <div class="kanban-card" data-id="{{ application.id }}" data-position="{{ application.position }}">
            <span>{{ application.applicant.first_name }} {{ application.applicant.last_name }}</span>
            <br>
            <span>
              <a href="{% url 'openings:update_opening' application.opening.id %}">{{ application.opening.title }}</a>
            </span>
          </div>

        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
{% endblock content %}

{% block extra-js %}
  <script src="{% static "js/vendor/jquery.ui.js" %}"></script>
  <script src="{% static "js/kanban.js" %}"></script>
  <script src="{% static "js/csrf.js" %}"></script>
  <script>
    $(function () {
      $('.kanban-board').kanban({
        others: {
          updatePositionsURL: "{% url 'applications:update_positions' %}"
        }
      });
    });
  </script>
{% endblock extra-js %}