{% extends "base.html" %}

{% load i18n %}

{% block title %}
  {% trans 'Manual application' %}
{% endblock title %}


{% block content %}
  <h1>{% trans 'Add applicant for ' %}{{ opening.title }}</h1>

  <form class="large-6 columns" action="." method="POST" enctype="multipart/form-data" id="action-form">
    {% csrf_token %}

    {% if form.non_field_errors %}
      <small class="error">
        {% for error in form.non_field_errors %}
          {{ error }}
        {% endfor %}
      </small>
    {% endif %}

    {% for field in form %}
      {% include 'core/_field.html' with field=field %}
    {% endfor %}

    <div class="row">
      <div class="large-12 columns text-right">
        <input type="submit" class="button-positive" value="{% trans 'Save' %}" />
      </div>
    </div>
  </form>
{% endblock content %}
