{% extends "base_openings.html" %}

{% load i18n %}


{% block title %}
  {{ company.name }} - {% trans 'Job Board' %}
{% endblock title %}

{% block header %}
  {{ company.name }}
{% endblock header %}

{% block section %}
  <h3>{% trans 'Openings' %}</h3>

  {% for opening in openings %}
    <div class="opening">
      <a href="{% url 'applications:apply' opening.id %}">{{ opening.title }}</a>
      <br>
      {% if opening.department %}
        <span>Department: {{ opening.department }}</span>
      {% endif %}
    </div>
  {% endfor %}
{% endblock section %}


{% block aside %}
  Add company description field to the company model
{% endblock aside %}
