@import "../_variables";


header {
  @include grid-row();

  h1 {
    @include grid-column(10);
  }

  a {
    @include grid-column(2);
    line-height: 80px;
  }

  border-bottom: 1px solid $light-grey;
}

.apply-header {
  @include grid-row();
  padding-top: 10px;

  h3 {
    @include grid-column(10);
  }

  a {
    @include grid-column(2);
    line-height: 50px;
  }

  border-bottom: 1px solid $light-grey;
}