@import "../variables";


header {
  a {
    line-height: 80px;
  }

  border-bottom: 1px solid $light-grey;
}

.apply-header {
  padding-top: 10px;

  a {
    line-height: 50px;
  }

  border-bottom: 1px solid $light-grey;
}