@import "../_variables";

.top-content {

}
.content {
  @include outerRow();
  padding-top: 20px;

  section {
    @include column(6);

    .opening {
      @include innerRow();

      &:first-of-type {
        border-top: 1px solid #e6e6e6;
      }

      border-bottom: 1px solid #e6e6e6;
      padding-top: 10px;
      padding-bottom: 10px;

      a {
        font-size: ms(1);
      }
    }
  }

  aside {
    @include column(6);
  }

}
