.wrapper {

  padding-top: 20px;
  padding-bottom: 20px;

  .container {

    background: #fff;
    border: 1px solid #ebebeb;
    padding: 20px;

    h2 {
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      padding-bottom: 5px;
      border-bottom: 1px solid #ebebeb;
    }

  }

}