
@import "../common/colours";

form {

  label {
    color: black;
  }

  .help-text {
    background: white;
    color: black;
    font-size: .9em;
  }
  .error input {
    border-color: $alert-error-background;
  }
  small.error {
    background-color: $alert-error-background;
    padding: 5px;
  }

}