@import "foundation/components/global", "foundation/components/thumbs", "foundation/components/buttons";

/* Variables used within the SCSS are below */
/* ---------------------------------------- */

/* Changes the contact form's button color */
$themeColor: #36bbff;


html, body {
  overflow-x: hidden;
  background: #EDF3F3;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;

  p {
    font-size: 0.9em;
  }
}

header {

  nav.top-bar {
    margin-bottom: 0;

    ul.title-area {

      li {

        &.name {

          h1 {

            a {
              font-size: 1.5em;
              font-family: 'Pacifico', cursive;
              text-transform: none;
              color: #ccc;
            }

          }

        }

      }

    }

    section.top-bar-section {

      li {

        a {
          text-transform: uppercase;
        }

      }

    }

  }

}
