@import "compass/css3/border-radius";

.kanban-board {
  overflow-x: auto;
  height: 600px;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 14px;

  .kanban-list {
    position: relative;
    width: 220px;
    border: 1px solid black;
    margin: 0 5px;
    padding: 3px;
    float: left;
    line-height: 18px;
    background: #e3e3e3;
    @include border-radius(5px);

    .kanban-list-header h2 {
      min-height: 20px;
      font-size: 16px;
      margin: 10px 0 0 10px;
    }

    .kanban-list-cards {
      min-height: 40px;
      z-index: 1;
      padding: 4px;

      .kanban-card-placeholder {
        visibility: visible !important;
        background-color: #b9b9b9 !important;
        opacity: 0.5;
      }

      .kanban-card  {
        background-color: white;
        margin-bottom: 5px;
        border: 1px solid #b9b9b9;
        padding: 5px;
        padding-left: 8px;
        cursor: pointer;
        z-index: 2;
        @include border-radius(5px);

        &:hover {
          border: 1px solid darken(#b9b9b9, 20);
        }
      }
    }
  }

}
