
// The page displayed after registering asking to check the inbox
.registration-confirmation {
  margin-top: 60px !important;

  h1 {
    text-align: center;
    margin-bottom: 40px;
  }

  p {
    text-align: center;
    i {
      vertical-align: middle;
    }
  }
}

// Display a message if the user was just activated
.from-activation {
  margin-top: 60px !important;
  h1 {
    text-align: center;
  }
}